.ModmakerBase {
  width: 100%;
  height: 100%;
}

#APIWindow {
  visibility: collapse;
  flow-children: down;
  min-width: 800px;
  min-height: 800px;
  align: center center;
}

#TitleSearch {
  flow-children: right;
  width: 100%;
  height: 50px;
  background-color: #222;
}

#Title {
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
  vertical-align: center;
  color: white;
}

#Search {
  width: 450px;
  margin-right: 10px;
  margin-bottom: 2px;
  margin-left: 50px;
  align: center center;
}

#Search Label {
  padding-top: 3px;
}

#SearchButton {
  width: fit-children;
  margin-top: -1px;
  margin-right: 15px;
  margin-bottom: 0;
  padding-top: 0;
  padding-right: 15px;
  padding-bottom: 0;
  padding-left: 15px;
  horizontal-align: right;
  vertical-align: center;
}

#SearchButton Label {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  align: center center;
  color: lightblue;
}

#API {
  overflow: scroll scroll;
  flow-children: down;
  min-width: 800px;
  height: 750px;
  border: 1px solid black;
  background-color: #000000fe;
}

.FileLine {
  font-size: 16px;
  font-weight: thin;
  height: 16px;
}

.CategoryRoot {
  flow-children: down;
}

.CategoryBase {
  margin-right: 5px;
  margin-left: 5px;
  transition: background-color 0.1s ease-in-out 0s;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #1066;
}

.CategoryBase:hover {
  flow-children: down;
  background-color: #106f;
}

.Category {
  flow-children: right;
  min-width: 800px;
  margin-left: 10px;
  padding-top: 1px;
  padding-bottom: -20px;
  padding-left: 10px;
  border-radius: 3px;
}

#PlusMinus {
  font-size: 32px;
  font-weight: bold;
  margin-top: -3px;
  margin-right: 15px;
  vertical-align: center;
  color: gold;
}

#CategoryName {
  font-size: 18px;
  vertical-align: center;
}

.CategoryBase:hover #CategoryName {
  color: white;
}

#Properties {
  flow-children: down;
}

.Property {
  flow-children: down;
  width: 800px;
  margin-left: 20px;
}

.PropNameLink {
  flow-children: right;
  width: 100%;
  margin-right: 20px;
  background-color: #111;
}

#PropertyName {
  font-size: 18px;
  font-weight: bold;
  min-width: 500px;
  margin-left: 20px;
  horizontal-align: left;
  vertical-align: center;
  color: #ccc;
}

#Github {
  width: fit-children;
  margin-bottom: 0;
  margin-left: 50px;
  padding-top: 0;
  padding-right: 35px;
  padding-bottom: 0;
  padding-left: 35px;
  transition-duration: 0.2s;
  transition-property: background-color, opacity;
  vertical-align: center;
  background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#434b4b55),
    to(#636f6f55)
  );
}

#Github:hover {
  background-color: gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#434b4b),
    to(#636f6f)
  );
}

#Github Label {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  align: center center;
  color: lightblue;
}

#PropertyFunction {
  font-size: 14px;
  margin-left: 40px;
  transition: color 0.1s ease-in-out 0s;
  color: red;
}

#PropertyFunction:hover {
  color: pink;
}

#PropertyDescription {
  font-size: 14px;
  margin-left: 40px;
}
