# project

/.env*
/tmp/*
!/tmp/.keep

# lua

/.lux

# javascript/typescript

/node_modules
*.tsbuildinfo

# game

/content/panorama/scripts/**
/content/panorama/styles/**

/game/*
!/game/resource
!/game/scripts
!/game/addoninfo.txt

/src/content/panorama/styles/**/build.json
