# project

/.env*
/tmp/*
!/tmp/.keep

# lua

/.lux

# javascript/typescript

/node_modules
*.tsbuildinfo

# game

/content/panorama/scripts/*
/game/*
!/game/resource
!/game/scripts
!/game/addoninfo.txt
