/.cov/*
!/.cov/.keep
/.env
/.envrc
/.luarocks
/.lua-version
/.nvmrc
/.pnp.*
/.vscode/*
!/.vscode/settings.json
!/.vscode/extensions.json
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
/build
/dist
/doc/ldoc
/lua
/lua_modules
/luarocks
/tmp
