@import url("file://{resources}/styles/shared/variables.css");

.Rating {
  width: 80px;
  height: 16px;
  vertical-align: center;
  background-image: ultCooldownHud;
  background-repeat: repeat-x;
  background-position: 0% 0%;
  background-size: contain;
}

.Rating .RatingActive {
  width: 0;
  height: 100%;
  background-image: ultReadyHud;
  background-repeat: repeat-x;
  background-position: 0% 0%;
  background-size: contain;
}

.Rating.rating_1 .RatingActive {
  width: 16px;
}

.Rating.rating_2 .RatingActive {
  width: 32px;
}

.Rating.rating_3 .RatingActive {
  width: 48px;
}

.Rating.rating_4 .RatingActive {
  width: 64px;
}

.Rating.rating_5 .RatingActive {
  width: 80px;
}
