@import url("file://{resources}/styles/custom_game/variables.css");

/*
category_width = 4 * (item_width + item_h_margin + 2)
group_width = 2 * (category_width + category_h_margin) + 20
total_width = 2 * (group_width + group_h_margin) + groups_padding.right + groups_padding.left
*/

@define total_width: 1032px;
@define total_height: 760px;
@define groups_padding: 16px 8px 0 8px;
@define group_width: 500px;
@define group_h_margin: 8px;
@define category_width: 232px;
@define category_h_margin: 8px;
@define item_width: 50px;
@define item_h_margin: 6px;

.root {
  flow-children: down;
  width: total_width;
  height: total_height;
}

.header {
  flow-children: right;
  width: 100%;
  padding: 16px 16px 12px 16px;
}

.choice-label {
  vertical-align: center;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-overflow: shrink;
  font-size: 22px;
  color: #bfd2ee;
}

.search-box {
  flow-children: right;
  width: 300px;
  background-color: black;
}

.search-box .search-text-entry {
  width: fill-parent-flow(1);
  border: 0;
  background-color: none;
}

.search-box .search-text-entry #PlaceholderText {
  margin-top: 2px;
  color: #8a8a8a;
}

.search-box .search-button {
  width: 27px;
  height: 27px;
  margin: 0 8px;
  vertical-align: center;
  wash-color: #4f4f4f;
  background-image: control_icon_search;
  background-repeat: no-repeat;
  background-size: contain;
  transition-duration: 0.1s;
  transition-property: wash-color;
}

.search-box .search-button:hover {
  wash-color: #ccc;
}

.search-box .search-button:active {
  wash-color: #fff;
}

#groups {
  overflow: squish scroll;
  flow-children: right;
  width: 100%;
  height: fill-parent-flow(1);
  padding: groups_padding;
}

.group-name {
  width: 100%;
  padding-bottom: 8px;
  text-align: center;
  border-bottom: 1px solid #444;
}

.group-name,
.category-name {
  margin-bottom: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.group {
  flow-children: down;
  width: group_width;
  margin-left: group_h_margin;
}

.group-categories {
  flow-children: right-wrap;
  width: 100%;
  margin-top: 16px;
  horizontal-align: center;
}

.category {
  flow-children: down;
  width: category_width;
  margin-bottom: 8px;
  margin-left: category_h_margin;
}

.category-items {
  flow-children: right-wrap;
  width: 100%;
}

.category-items .item {
  width: item_width;
  height: width-percentage(72.7%);
  margin-right: item_h_margin;
  margin-bottom: 6px;
  border: 2px solid #6ad4;
}

.category-items .item:disabled {
  opacity: 0.2;
  saturation: 0;
}

.category-items .item:enabled:hover {
  brightness: 2;
  contrast: 0.95;
  saturation: 1;
}

.category-items .item.highlighted {
  border: 2px solid aqua;
}
