@import url("s2r://panorama/styles/dotastyles.css");
@import url("file://{resources}/styles/shared/variables.css");

.UIItemPickerRoot {
  flow-children: down;
  width: 1032px;
  height: 820px;
}

.UIItemPickerHeader {
  flow-children: right;
  width: 100%;
  padding: 16px 16px 12px;
  background-color: #0007;
}

.UIItemPickerSelectionChoice {
  font-size: 22px;
  color: #bfd2ee;
  text-align: left;
  text-overflow: shrink;
  text-transform: uppercase;
  letter-spacing: 2px;
  vertical-align: center;
}

.UIItemPickerSearchBox {
  flow-children: right;
  width: 300px;
  background-color: black;
}

.UIItemPickerSearchBox .UIItemPickerSearchTextEntry {
  width: fill-parent-flow(1);
  background-color: none;
  border: 0;
}

.UIItemPickerSearchBox .UIItemPickerSearchTextEntry #PlaceholderText {
  margin-top: 2px;
  color: #8a8a8a;
}

.UIItemPickerSearchBox .UIItemPickerSearchButton {
  width: 27px;
  height: 27px;
  margin: 0 8px;
  vertical-align: center;
  background-image: controlsSearchIcon;
  background-repeat: no-repeat;
  background-size: contain;
  wash-color: #4f4f4f;
  transition-duration: 0.1s;
  transition-property: wash-color;
}

.UIItemPickerSearchBox .UIItemPickerSearchButton:hover {
  wash-color: #ccc;
}

.UIItemPickerSearchBox .UIItemPickerSearchButton:active {
  wash-color: #fff;
}

#GameItemTable {
  horizontal-align: center;
  margin-top: 16px;
}
