@import url("file://{resources}/styles/custom_game/variables.css");

@define pill_height: 36px;

.root {
  flow-children: down;
  width: 100%;
}

#options {
  width: 100%;
}

#options .option {
  width: 120px;
}

#tags {
  flow-children: right-wrap;
  width: 100%;
}

#tags .tag {
  flow-children: right;
  height: pillheight;
  margin-top: 8px;
  margin-left: 8px;
  padding: 4px 6px 2px 6px;
  border: 1px solid #666;
  border-radius: 2px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

#tags .tag:disabled {
  opacity: 0;
}

#tags .tag .tag-label {
  margin-top: 3px;
  vertical-align: center;
  font-size: 18px;
}

#tags .tag .remove-button {
  width: 14px;
  height: 14px;
  margin-left: 2px;
  vertical-align: center;
  wash-color: #ccc;
  background-image: control_icon_quit;
  background-size: 100%;
}

#tags .tag .remove-button:hover {
  wash-color: #fff;
}
