@import url("file://{resources}/styles/custom_game/variables.css");

@define pill_height: 36px;

.root {
  flow-children: down;
  width: 100%;
  height: fit-children;
  margin-top: 0;
}

#options {
  width: 100%;
}

#options .option {
  width: 120px;
}

#tags {
  overflow: scroll clip;
  flow-children: right;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: rgba(0, 0, 0, 0.25);
}

#tags.overflow {
  padding-bottom: 10px;
}

#tags .tag {
  flow-children: right;
  height: pill_height;
  margin: 8px 4px;
  padding: 4px 6px 2px 6px;
  tooltip-position: bottom;
  border: 1px solid color_base_border;
  border-radius: 6px;
  background-color: color_selected_text_background;
  transition-duration: 0.2s;
  transition-property: opacity;
}

#tags .tag:disabled {
  opacity: 0;
}

#tags .tag:hover {
  wash-color: #000a;
}

#tags .tag .tag-label {
  max-width: 120px;
  margin-left: 4px;
  align: center center;
  text-overflow: ellipsis;
  font-size: 16px;
  color: color_text_blue_grey_bright;
}

#tags .tag:hover .tag-label {
  color: #bbb;
}
