@use "sass:map";
@use "sass:meta";
@use "sass:string";

@use "anim";
@use "asset";
@use "button-variants" as variants;
@use "ui";
@use "util";
@use "vars" as v;

$transition-duration: 0.15s;
$transition-timing: ease-in;

$cl-icon-regular: #cdf;
$cl-icon-hover: #ddd;
$cl-icon-active: #fff;
$icon-colors: (
  "regular": $cl-icon-regular,
  "hover": $cl-icon-hover,
  "active": $cl-icon-active
);

@mixin pressed() {
  &:enabled:active {
    pre-transform-scale2d: 0.85;
    sound: v.$snd-btn-click;
  }
}

@mixin icon-color($colors: $icon-colors) {
  wash-color: map.get($colors, "regular") or $cl-icon-regular;

  &:hover {
    wash-color: map.get($colors, "hover") or $cl-icon-hover;
  }

  &:enabled:active {
    wash-color: map.get($colors, "active") or $cl-icon-active;
  }

  @if map.has-key($colors, "disabled") {
    &:disabled {
      wash-color: map.get($colors, "disabled");
    }
  }
}

@mixin variant($name, $variants) {
  $self: "&";

  @if $name != "self" {
    $self: "&.#{$name}";
  }

  @if map.has-key($variants, "regular") {
    #{$self} {
      @include _variant-style(map.get($variants, "regular"));
    }
  }

  @if map.has-key($variants, "hover") {
    #{$self}:enabled:hover {
      @include _variant-style(map.get($variants, "hover"));
    }
  }

  @if map.has-key($variants, "active") {
    #{$self}:active {
      @include _variant-style(map.get($variants, "active"));
    }
  }

  @if map.has-key($variants, "disabled") {
    #{$self}:disabled {
      @include _variant-style(map.get($variants, "disabled"));
    }
  }
}

@mixin _variant-style($style) {
  @each $key, $value in $style {
    @if ($key == "background-color") {
      @if meta.type-of($value) == map {
        #{$key}: util.gradient-vertical(map.get($value, "from"), map.get($value, "to"));
      } @else {
        #{$key}: $value;
      }
    } @else if meta.type-of($value) == map {
      @include util.expand-box-property($key, $value);
    } @else {
      #{$key}: $value;
    }
  }
}

// .ButtonPrimary (dotastyles.css)
@mixin primary {
  flow-children: right;
  height: 34px;
  padding: 0px 16px;
  border: 1px solid white;
  border-radius: 3px;
  border-brush: v.$grd-border-white-soft;
  background-image: asset.game-img-url("backgrounds/background_play_button_2x.png");
  background-size: cover;
  background-color: v.$grd-light-grey;
  background-img-opacity: 0.3;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  transition-duration: 0.1s;
  transition-property: background-color, border, brightness, opacity, transform;
  transition-timing-function: ease;

  @each $name, $variant in variants.$primary {
    @include variant($name, $variant);
  }

  &.wide {
    padding: 0px 24px;
  }

  &.circle {
    width: 34px;
    padding: 2px;
    border-radius: 120px;
  }

  .btn-label {
    color: white;
    font-size: 16px;
    horizontal-align: center;
    margin: -1px 0px 1px;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-align: center;
    text-overflow: shrink;
    text-shadow: 0px 1px 4px #000000;
    text-transform: uppercase;
    vertical-align: center;
    opacity: 0.8;
    transition-duration: 0.05s, 0.1s;
    transition-property: transform, text-shadow, opacity;
    transition-timing-function: ease;
  }

  %media {
    width: 20px;
    height: 20px;
    margin: 0px 4px;
    vertical-align: center;
    transition-duration: 0.05s;
    transition-property: transform, img-shadow;
    transition-timing-function: ease;
    wash-color: v.$cl-grey-lightest;
  }

  .btn-image {
    img-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);

    @extend %media;
  }

  .btn-movie {
    @extend %media;
  }

  &:hover:enabled {
    .btn-label {
      color: white;
      opacity: 1;
    }

    .btn-image, .btn-movie {
      wash-color: white;
    }
  }

  &:active:enabled {
    .btn-label {
      transform: translateY(0.5px);
    }

    .btn-image, .btn-movie {
      transform: translateY(0.5px);
    }
  }

  &:disabled {
    .btn-label {
      opacity: 1;
    }
  }

  &.large {
    height: 48px;
    padding: 0px 28px;

    &.wide {
      padding: 0px 40px;
    }

    &.circle {
      width: 48px;
      padding: 6px;
      border-radius: 120px;
    }

    .btn-label {
      color: white;
      font-weight: semi-bold;
      font-size: 20px;
      line-height: 24px;
      opacity: 0.8;
    }

    .btn-image, .btn-movie {
      width: 24px;
      height: 24px;
      margin: 0px 4px;
      wash-color: white;
    }
  }

  &.small {
    height: 24px;
    padding: 0px 6px;

    .btn-label {
      margin: 0px;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 1px;
    }

    .btn-image, .btn-movie {
      width: 18px;
      height: 18px;
      margin: 0px 2px;
      wash-color: v.$cl-grey-lighter;
    }

    &.wide {
      padding: 0px 16px;
    }

    &.circle {
      width: 24px;
      padding: 2px;
      border-radius: 120px;
    }
  }

  &.gold {
    .btn-label {
      opacity: 1;
    }
  }

  &.ruby {
    .btn-label {
      opacity: 1;
    }
  }

  &.shards {
    .btn-label {
      color: v.$cl-dota-plus-gold-light;
      opacity: 1;
    }
  }

  &.platinum {
    .btn-label {
      opacity: 1;
    }
  }

  &.magenta {
    .btn-image {
      wash-color: whitesmoke;
    }
  }
}

@mixin icon(
  $icon,
  $size: 32px,
  $colors: $icon-colors,
  $pressed: true,
  $transition: ()
) {
  @include ui.icon($icon, $size);
  @include icon-color($colors: $colors);

  $transition: util.merge-transition(
    $transition,
    (
      "duration": $transition-duration,
      "property": wash-color,
      "timing-function": $transition-timing
    )
  );

  @if $pressed {
    @include pressed;

    $transition: util.merge-transition($transition, ("property": pre-transform-scale2d));
  }

  @include util.expand-map($transition, $prefix: "transition");
}

@mixin _close($args...) {
  @include icon($args...);

  &:enabled:active {
    sound: v.$snd-friends-slidein;
  }
}

@mixin close($args...) {
  @include _close(v.$icon-controls-close, $args...);
}

@mixin close-circle($args...) {
  @include _close(v.$icon-controls-close-circle, $args...);
}

@mixin info($args...) {
  @include icon(v.$icon-controls-info, $args...);

  &:enabled:active {
    sound: v.$snd-rollover;
  }
}

@mixin info-circle($args...) {
  @include icon(v.$icon-controls-info-circle, $args...);

  &:enabled:active {
    sound: v.$snd-rollover;
  }
}

// .RefreshButton (dotastyles.css)
@mixin refresh($size: 32px) {
  @include ui.icon(v.$icon-controls-refresh, $size);

  &.#{v.$class-btn-pressed} {
    @include anim.spinner-rotate(
      "btn-refresh-rotate",
      $duration: 0.5s,
      $delay: 0.1s,
      $count: 1,
      $timing: linear
    );
  }
}

@mixin full-refresh($size: 32px) {
  @include ui.icon(v.$icon-status-loading, $size);

  &.#{v.$class-btn-pressed} {
    @include anim.spinner-rotate(
      "btn-full-refresh-rotate",
      $duration: 0.5s,
      $delay: 0.1s,
      $count: 1,
      $timing: linear
    );
  }
}

// .BlueButton (dotastyles.css)
@mixin blue($pressed: true, $transition: ()) {
  border: 1px solid #3366aa55;
  background-color: #3366aa11;

  $transition: util.merge-transition(
    $transition,
    (
      "duration": $transition-duration,
      "property": (background-color, border),
      "timing-function": $transition-timing
    )
  );

  @if $pressed {
    @include pressed;

    $transition: util.merge-transition($transition, ("property": pre-transform-scale2d));
  }

  @include util.expand-map($transition, $prefix: "transition");

  &:enabled:hover {
    border: 1px solid #22aaffaa;
    background-color: #3366aa44;
  }

  &:enabled:active {
    background-color: #23468a44;
    sound: v.$snd-select-blue;
  }

  &:disabled {
    wash-color: #000000dd;
    saturation: 0;
  }

  .btn-label {
    margin: 0px 24px 0px 24px;
    color: #66aadd;
    font-size: 16px;
    letter-spacing: normal;
    text-transform: uppercase;
    vertical-align: middle;
  }

  &:enabled:hover .btn-label {
    color: white;
  }

  &:enabled:active .btn-label {
    color: #76baed;
  }
}

// .ButtonDark (dotastyles.css)
@mixin dark($pressed: true, $transition: ()) {
  border: 2px solid #5e686966;
  background-color: util.gradient-vertical(#191e1e, #292e2e);

  $transition: util.merge-transition(
    $transition,
    (
      "duration": $transition-duration,
      "property": (background-color, border),
      "timing-function": linear
    )
  );

  @if $pressed {
    @include pressed;

    $transition: util.merge-transition($transition, ("property": pre-transform-scale2d));
  }

  @include util.expand-map($transition, $prefix: "transition");

  &:enabled:hover {
    border: 2px solid #5e6869ff;
    background-color: util.gradient-vertical(#191e1e, #292e2e);
  }

  &:enabled:active {
    border: 2px solid #5e686922;
    background-color: util.gradient-vertical(#191e1e, #292e2e);
    sound: v.$snd-btn-click;
  }

  &:disabled {
    border: 2px solid #111111;
    background-color: util.gradient-vertical(#191e1e, #292e2e);
  }

  // malva-ignore
  Label {
    margin-top: 2px;
    color: #7f8b8d;
    text-transform: uppercase;
    horizontal-align: center;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
    text-shadow: 0px 0px 6px 1.0 #000000;
    vertical-align: middle;
    transition-duration: 0.1s;
    transition-property: color;
    transition-timing-function: linear;
  }

  // malva-ignore
  &:enabled:hover Label {
    color: white;
  }

  // malva-ignore
  &:enabled:active Label {
    transform: translateY(1px);
  }

  // malva-ignore
  &:disabled Label {
    color: #5d676933;
  }

  &.small {
    min-height: 32px;
    padding: 0px;
    border-radius: 3px;
  }

  // malva-ignore
  &.small Label {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

// .FlatButton (dotastyles.css)
@mixin flat($pressed: true, $transition: ()) {
  background-color: #202626;

  $transition: util.merge-transition(
    $transition,
    (
      "duration": $transition-duration,
      "property": (background-color),
      "timing-function": linear
    )
  );

  @if $pressed {
    @include pressed;

    $transition: util.merge-transition($transition, ("property": pre-transform-scale2d));
  }

  @include util.expand-map($transition, $prefix: "transition");

  &:enabled:hover {
    background-color: #333d3c;
  }

  &:enabled:active {
    background-color: #181c1c;
    sound: v.$snd-select-blue;
  }

  .btn-label {
    margin: 4px 24px 0px 24px;
    color: #737e7e;
    font-weight: semi-bold;
    font-size: 16px;
    letter-spacing: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &:enabled:hover .btn-label {
    color: white;
  }

  &:enabled:active .btn-label {
    color: #6c6c6c;
  }
}

// .ButtonBevel (dotastyles.css)
@mixin bevel($pressed: true, $transition: ()) {
  min-width: 192px;
  min-height: 36px;
  padding: 4px 10px;
  border-width: 1px;
  border-style: solid;
  box-shadow: #00000055 0px 0px 4px 0px;

  $transition: util.merge-transition(
    $transition,
    (
      "duration": 0.1s,
      "property": (background-color, opacity),
      "timing-function": linear
    )
  );

  @if $pressed {
    @include pressed;

    $transition: util.merge-transition($transition, ("property": pre-transform-scale2d));
  }

  @include util.expand-map($transition, $prefix: "transition");

  @each $name, $variant in variants.$bevel {
    @include variant($name, $variant);
  }

  .btn-label {
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    horizontal-align: center;
    text-align: center;
    text-shadow: 2px 2px 0px 1.0 #000000;
    vertical-align: middle;
    transition-duration: 0.35s;
    transition-property: color;
    transition-timing-function: ease-in-out;
  }

  &:enabled:active .btn-label {
    transform: translateY(1px);
  }

  &:disabled .btn-label {
    color: #333333;
  }
}

// ToggleButton.ExpandCollapseToggleButton (dotastyles.css)
@mixin collapsible-toggle {
  margin: 0px;
  padding: 0px;

  .TickBox {
    width: 19px;
    height: 19px;
    margin: 0px;
    padding: 0px;
    border: 0px solid transparent;
    background-image: v.$icon-controls-expand-collapse;
    background-size: 100% 100%;
    background-color: none;
    box-shadow: none;
    vertical-align: middle;
    wash-color: #888888;
    transform: rotateZ(-90deg);
    transition-duration: 0.2s;
    transition-property: transform;
  }

  &:hover .TickBox {
    border: 2px solid transparent;
  }

  &:selected .TickBox {
    width: 19px;
    height: 19px;
    border: 0px solid transparent;
    background-image: v.$icon-controls-expand-collapse;
    background-size: 100% 100%;
    background-color: none;
    box-shadow: none;
    vertical-align: middle;
    wash-color: #888888;
    transform: rotateZ(0deg);
    transition-duration: 0.2s;
    transition-property: transform;
  }
}

// .Spinner (dotastyles.css)
@mixin spinner($size: 28px) {
  @include ui.icon(v.$icon-status-loading, $size);
  @include anim.spinner-rotate("btn-spinner-rotate");
}

@mixin popup {
  @include pressed;
  min-width: 192px;
  margin: 8px;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  transition-delay: 0.0s;
  transition-duration: 0.1s;
  transition-property: background-color, pre-transform-scale2d, wash-color;
  transition-timing-function: linear;

  @each $name, $variant in variants.$popup {
    @include variant($name, $variant);
  }

  .popup-btn-label {
    color: white;
    font-size: 24px;
    horizontal-align: center;
    vertical-align: middle;
  }

  &:enabled:active .popup-btn-label {
    transform: translateY(1px);
  }

  &:disabled .popup-btn-label {
    color: #999999;
  }
}
