@use "sass:map";

@use "button" as btn;
@use "ui";
@use "util";
@use "vars" as v;

@mixin translucent {
  background-color: util.gradient-vertical(#292e2ef7, #191e1eff);
}

@mixin translucent-hover {
  background-color: util.gradient-vertical(#3f4646f7, #191e1eff);
}

@mixin transparent {
  background-color: util.gradient-vertical(#292e2e80, #191e1edd);
}

@mixin title {
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: v.$font-text;
  letter-spacing: 2px;
  text-align: center;
  text-overflow: shrink;
  text-shadow: 1px 1px 0 3 #0006;
  text-transform: uppercase;
}

@mixin title-container($class-title) {
  flow-children: right;
  width: 100%;
  height: 32px;
  padding-top: 6px;
  padding-left: 5px;
  border-bottom: 1px solid #222;
  background-color: #0003;

  .#{$class-title} {
    @include title;
    width: fill-parent-flow(1);
    padding-top: 0;
    padding-left: 0;
  }
}

@mixin drawer-slide(
  $width-open,
  $width-closed,
  $class-closed,
  $class-thumb,
  $class-thumb-arrow
) {
  width: $width-open;
  transition-duration: 0.2s;
  transition-property: width;
  transition-timing-function: ease-in-out;

  .#{$class-thumb} {
    width: 32px;
    height: 96px;
    transform: translateX(0px);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #181818cc;
    box-shadow: #000000aa 0px 0px 8px 0px;
    vertical-align: middle;
    horizontal-align: right;

    &:hover {
      background-color: #383838cc;
    }

    .#{$class-thumb-arrow} {
      @include ui.icon(v.$icon-controls-double-arrow-left);
      width: 16px;
      height: 16px;
      transform: translateX(-9px);
      background-position: 0% 50%;
      horizontal-align: right;
      vertical-align: middle;
      transition-delay: 0.0s;
      transition-duration: 0.25s;
      transition-property: transform, wash-color;
      transition-timing-function: ease-in-out;
      wash-color: #91aba6;
    }

    &:hover .#{$class-thumb-arrow} {
      transform: translateX(-12px);
      wash-color: white;
    }
  }

  &.#{$class-closed} {
    width: $width-closed;

    .#{$class-thumb} {
      .#{$class-thumb-arrow} {
        transform: rotateZ(180deg) translateX(-9px);
      }

      &:hover .#{$class-thumb-arrow} {
        transform: translateX(6px) rotateZ(180deg);
        wash-color: white;
      }
    }
  }
}

@mixin combo-controls {
  flow-children: right;
  align: left bottom;
  margin-left: 80px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  opacity: 1;
  transition-duration: 0.75s;
  transition-property: opacity;

  @include transparent;

  $btn-size: 64px;
  $icon-size: $btn-size / 2;

  .control-icon {
    width: $btn-size;
    height: $btn-size;
    transition-duration: 0.2s;
    transition-property: background-color;

    &:hover {
      border-right: 1px solid #444b;
      border-left: 1px solid #444b;

      @include translucent-hover;
    }
  }

  .icon-button {
    width: 100%;
    height: 100%;
    margin: 0;
    vertical-align: center;
    tooltip-position: top;

    &.icon-details {
      @include btn.icon(v.$icon-controls-info, $icon-size);
      background-size: $icon-size * 0.8;

      &:enabled:active {
        sound: v.$snd-rollover;
      }
    }

    &.icon-cycle-hud {
      @include btn.icon(v.$icon-facet-vision, $icon-size);
    }

    &.icon-level-up {
      @include btn.icon(v.$icon-controls-arrow-dropdown-up, $icon-size);
    }

    &.icon-level-max {
      @include btn.icon(v.$icon-controls-double-arrow-right, $icon-size);
      transform: rotateZ(-90deg);
    }

    &.icon-restart {
      @include btn.refresh($icon-size);
    }

    &.icon-full-restart {
      @include btn.full-refresh($icon-size);
    }

    &.icon-stop {
      @include btn.close($icon-size);
    }

    @each $name, $colors in v.$combo-controls-colors {
      &.#{$name} {
        wash-color: map.get($colors, "regular");

        &:hover {
          wash-color: map.get($colors, "hover");
        }
      }
    }
  }
}

@mixin rating($class-active) {
  width: 80px;
  height: 16px;
  background-image: v.$hud-ult-cooldown;
  background-position: 0% 0%;
  background-size: contain;
  background-repeat: repeat-x;
  vertical-align: center;

  .#{$class-active} {
    width: 0;
    height: 100%;
    background-image: v.$hud-ult-ready;
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: repeat-x;
  }

  @for $i from 1 through 5 {
    &.rating-#{$i} .#{$class-active} {
      width: $i * 16px;
    }
  }
}
