@use "sass:map";

@use "button" as btn;
@use "util";
@use "vars" as v;

$padding: (
  "top": 32px,
  "right": 64px,
  "bottom": 32px,
  "left": 64px
);

// .PopupPanel (core:popups/popups_shared.css)
@mixin popup {
  @include util.expand-box-property("padding", $padding);
  flow-children: down;
  align: center center;
  min-width: 450px;
  border: 2px solid #32383677;
  background-color: util.gradient-vertical(#232326, #1c1d20, $bottom: 25%);
  box-shadow: #0009 0 0 8px 0;
  opacity: 1.0;
  transition-delay: 0.0s;
  transition-duration: 0.2s;
  transition-property: box-shadow, opacity, transform, pre-transform-scale2d;
  transition-timing-function: ease-in;

  &.#{v.$class-popup-hidden} {
    transform: translateY(-10px);
    box-shadow: 0 0 0px transparent;
    opacity: 0.0;
    pre-transform-scale2d: 1.25;
    sound: v.$snd-dialog-slide;
  }

  &.#{v.$class-screen-wide} {
    min-width: 800px;
  }

  .popup-close-btn {
    @include btn.primary;
    z-index: 1;
    ignore-parent-flow: true;
    align: right top;
    margin-top: -(map.get($padding, "top") / 2);
    margin-right: -(map.get($padding, "right") / 2);
    padding-right: 10px;
    padding-left: 10px;
  }

  .popup-title {
    margin-bottom: 15px;
    color: white;
    font-weight: semi-bold;
    font-size: 30px;
    font-family: v.$font-title;
    horizontal-align: center;
  }

  .popup-description {
    color: #afb4b4;
    font-size: 20px;
    letter-spacing: 0px;
  }

  .popup-centered {
    text-align: center;
    horizontal-align: center;
  }

  .popup-btn-row {
    flow-children: right;
    horizontal-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .popup-btn {
    @include btn.primary;
    margin-left: 16px;

    &:first-child {
      margin-left: 0;
    }
  }
}
