@use "sass:meta";
@use "sass:map";
@use "sass:selector";
@use "sass:string";

@use "anim";
@use "util";
@use "vars" as v;

@mixin link {
  color: v.$cl-text-link;
}

@mixin icon($image, $size: contain, $tex-size: null) {
  background-image: $image;
  background-position: center;
  background-repeat: no-repeat;

  @if meta.type-of($size) == string {
    background-size: #{string.unquote($size)};
  } @else {
    background-size: $size;
  }

  @if $tex-size {
    background-texture-size: $tex-size;
  }
}

@mixin icon-chevron($direction, $variant: null, $size: contain, $tex-size: null) {
  $url: v.icon-chevron($direction, $variant: $variant);

  @include icon($url, $size: $size, $tex-size: $tex-size);
}
