@use "sass:color";

@use "asset";
@use "util";

// ******************************************************************************
// * Built-in classes
// ******************************************************************************

$class-btn-pressed: "Activated";
$class-popup-hidden: "Hidden";
$class-screen-wide: "WideMode";

// ******************************************************************************
// * Colors
// ******************************************************************************

$cl-text-link: #9862e9;

$cl-grey-light: #8b989e;
$cl-grey-lighter: #b0bcc2;
$cl-grey-lightest: #dae2e5;

$cl-gold: #ffcc33;
$cl-gold-80: color.change($cl-gold, $alpha: 0.80);
$cl-dota-plus-gold: #b78946;
$cl-dota-plus-gold-light: #dcd086;

$cl-quas-accent: #33a7e9;
$cl-quas-accent-27: color.change($cl-quas-accent, $alpha: 0.27);
$cl-wex-accent: #eb07e1;
$cl-wex-accent-27: color.change($cl-wex-accent, $alpha: 0.27);
$cl-exort-accent: #e7ac10;
$cl-exort-accent-27: color.change($cl-exort-accent, $alpha: 0.27);

// gradients

$grd-grey: util.gradient-vertical(#373f43, #21272a);
$grd-grey-inverted: util.gradient-vertical(#21272a, #373f43);
$grd-light-grey: util.gradient-vertical(#525f65, #2f363a);
$grd-light-grey-inverted: util.gradient-vertical(#2f363a, #525f65);
$grd-lighter-grey: util.gradient-vertical(#7c8b92, #4b555a);
$grd-lighter-grey-inverted: util.gradient-vertical(#4b555a, #7c8b92);
$grd-dark-grey: util.gradient-vertical(#262c30, #121719);
$grd-dark-grey-inverted: util.gradient-vertical(#121719, #262c30);
$grd-green: util.gradient-vertical(#5aa15e, #406c55);
$grd-green-inverted: util.gradient-vertical(#406c55, #5aa15e);
$grd-blue: util.gradient-vertical(#3782a4, #235777);
$grd-blue-inverted: util.gradient-vertical(#235777, #3782a4);
$grd-purple: util.gradient-vertical(#2d4f86, #1b355e);
$grd-purple-inverted: util.gradient-vertical(#1b355e, #2d4f86);
$grd-orange: util.gradient-vertical(#a35234, #713a25);
$grd-orange-inverted: util.gradient-vertical(#713a25, #a35234);
$grd-yellow: util.gradient-vertical(#e9ba52, #a67d2a);
$grd-yellow-inverted: util.gradient-vertical(#a67d2a, #e9ba52);
$grd-gold: util.gradient-vertical(#ffebb1, (0.45, #c6a562), (0.55, #ae9259), #dcb870);
$grd-gold-inverted: util.gradient-vertical(#dcb870, (0.45, #ae9259), (0.55, #c6a562), #ffebb1);
$grd-ruby: util.gradient-vertical(#da5e4d, (0.45, #88392e), (0.55, #70271d), #3f1611);
$grd-ruby-inverted: util.gradient-vertical(#3f1611, (0.45, #70271d), (0.55, #88392e), #da5e4d);
$grd-platinum: util.gradient-vertical(#f4e6d0, (0.45, #d1b992), (0.55, #9d937f), #d1b992);
$grd-platinum-inverted: util.gradient-vertical(#d1b992, (0.45, #9d937f), (0.55, #d1b992), #f4e6d0);
$grd-shards: util.gradient-vertical(#433620, #141b21);
$grd-shards-inverted: util.gradient-vertical(#141b21, #433620);
$grd-border-white-soft: util.gradient-vertical(#ffffff08, #ffffff03);
$grd-border-white-medium: util.gradient-vertical(#ffffff20, #ffffff06);
$grd-border-white-strong: util.gradient-vertical(#ffffff40, #ffffff08);

// ******************************************************************************
// * Fonts
// ******************************************************************************

$font-text: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, YDYGO 540, Gulim, MingLiU;
$font-title: Reaver, Goudy Trajan Medium, FZKai-Z03, TH Sarabun New, YDYGO 540;
$font-monospace: RadianceM, Radiance, FZLanTingHei-R-GBK, TH Sarabun New, YDYGO 540, Gulim, MingLiU;
$font-comic: Bangers, Radiance, FZLanTingHei-R-GBK, TH Sarabun New, YDYGO 540, Gulim, MingLiU;
$font-diretide1: Creepster, Valve Radus, Radiance, FZKai-Z03, TH Sarabun New, YDYGO 540;
$font-diretide2: UnifrakturCook, Valve Radus, Radiance, FZKai-Z03, TH Sarabun New, YDYGO 540;
$font-diretide3: Grenze, Valve Radus, Radiance, FZKai-Z03, TH Sarabun New, YDYGO 540;
$font-underlords:
  ravenhook,
  Radiance,
  FZLanTingHei-R-GBK,
  TH Sarabun New,
  YDYGO 540,
  Gulim,
  MingLiU;

// ******************************************************************************
// * Icons
// ******************************************************************************

$icon-controls-armory: asset.game-img-url("control_icons/armory_new_icon.vsvg");
$icon-controls-arrow-dropdown-up: asset.game-img-url("control_icons/arrow_dropdown_up_png.vtex");
$icon-controls-arrow-popout: asset.game-img-url("control_icons/arrow_popout_png.vtex");
$icon-controls-check-circle: asset.game-img-url("control_icons/24px/check_circle.vsvg");
$icon-controls-check: asset.game-img-url("control_icons/24px/check.vsvg");
$icon-controls-close-circle: asset.game-img-url("control_icons/24px/x_close_filled.vsvg");
$icon-controls-close: asset.game-img-url("control_icons/24px/x_close.vsvg");
$icon-controls-double-arrow-left: asset.game-img-url("control_icons/double_arrow_left_png.vtex");
$icon-controls-double-arrow-right: asset.game-img-url("control_icons/double_arrow_right_png.vtex");
$icon-controls-escalation-arrow: asset.game-img-url("control_icons/escalation_arrow_psd.vtex");
$icon-controls-expand-collapse: asset.game-img-url("control_icons/expand_collapse_png.vtex");
$icon-controls-eye: asset.game-img-url("control_icons/eye_png.vtex");
$icon-controls-filter-carry: asset.game-img-url("control_icons/filter_carry_png.vtex");
$icon-controls-filter-complexity: asset.game-img-url("control_icons/filter_complexity_png.vtex");
$icon-controls-filter-melee: asset.game-img-url("control_icons/filter_melee_png.vtex");
$icon-controls-filter-support: asset.game-img-url("control_icons/filter_support_png.vtex");
$icon-controls-info-circle: asset.game-img-url("control_icons/24px/info.vsvg");
$icon-controls-info: asset.game-img-url("control_icons/24px/info_ghost.vsvg");
$icon-controls-random-dice: asset.game-img-url("control_icons/random_dice_psd.vtex");
$icon-controls-refresh: asset.game-img-url("control_icons/refresh_psd.vtex");
$icon-controls-search: asset.game-img-url("control_icons/icon_search_png.vtex");

$icon-status-loading: asset.game-img-url("status_icons/loadingthrobber_round_psd.vtex");

$icon-facet-no-vision: asset.game-img-url("hud/facets/icons/no_vision_png.vtex");
$icon-facet-vision: asset.game-img-url("hud/facets/icons/vision_png.vtex");

// ***** invokation *****

$icon-stance-offensive: asset.game-img-url("status_icons/modifier_kill_effect_psd.vtex");
$icon-stance-defensive: asset.game-img-url("hud/reborn/icon_armor_psd.vtex");
$icon-damage-rating: asset.game-img-url("hud/reborn/icon_damage_psd.vtex");
$icon-difficulty-rating: asset.game-img-url("hud/reborn/icon_speed_psd.vtex");

// ******************************************************************************
// * HUD
// ******************************************************************************

$hud-invoker-card: asset.game-img-url("hud/invokercard_psd.vtex");
$hud-timer-bg: asset.game-img-url("hud/reborn/bg_timer_psd.vtex");
$hud-ult-cooldown: asset.game-img-url("hud/reborn/ult_cooldown_psd.vtex");
$hud-ult-ready: asset.game-img-url("hud/reborn/ult_ready_psd.vtex");

$ability-circle-size: 64px;
$ability-circle-border-radius: $ability-circle-size / 2;

// ******************************************************************************
// * Backgrounds
// ******************************************************************************

$bg-picker: asset.game-img-url("backgrounds/gallery_background_png.vtex");
$bg-viewer: asset.custom-img-url("viewer/paper-bg.png");

// ******************************************************************************
// * Masks
// ******************************************************************************

$mask-gradient-left-right: asset.game-img-url("masks/gradient_leftright_png.vtex");
$mask-softedge-box: asset.game-img-url("masks/softedge_box_png.vtex");
$mask-softedge-box-irregular: asset.game-img-url("masks/softedge_box_irregular_png.vtex");
$mask-softedge-vertical: asset.game-img-url("masks/softedge_vertical_png.vtex");
$mask-softedge-vscroll: asset.game-img-url("masks/softedge_vertical_vscroll_psd.vtex");
$mask-softedge-vscroll-wide: asset.game-img-url("masks/softedge_vertical_vscroll_wide_psd.vtex");

// ******************************************************************************
// * Sounds
// ******************************************************************************

$snd-btn-click: "ui_generic_button_click";
$snd-dialog-slide: "ui_custom_lobby_dialog_slide";
$snd-friends-slidein: "ui_friends_slide_in";
$snd-quit-fadeout: "ui_quit_menu_fadeout";
$snd-quit: "ui.menu_quit";
$snd-rollover: "ui_rollover_micro";
$snd-select-blue: "ui_select_blue";

// ******************************************************************************
// * Buttons
// ******************************************************************************

$combo-controls-colors: (
  "grey": (
    "regular": #aaa,
    "hover": #fff
  ),
  "blue": (
    "regular": #65a9db,
    "hover": #acc6d8
  ),
  "bronze": (
    "regular": #dca157,
    "hover": #dca157
  ),
  "red": (
    "regular": #db6565,
    "hover": #db6565
  )
);
