@import url("s2r://panorama/styles/dotastyles.css");
@import url("s2r://panorama/styles/popups/popups_shared.css");
@import url("file://{resources}/styles/shared/variables.css");

.GameInfoRoot {
  flow-children: none;
  width: 1300px;
  align: center center;
}

.CloseButton {
  width: 30px;
  height: 30px;
  margin-top: -16px;
  margin-right: -48px;
  align: right top;
  wash-color: #ddd;
}

.GameInfoContents {
  overflow: squish scroll;
  flow-children: down;
  width: 100%;
  padding: 32px;
}

.PopupTitle {
  font-family: titleFont;
  font-weight: semi-bold;
  color: white;
}

.PopupDescription {
  width: 600px;
  horizontal-align: center;
  text-align: center;
}

.OrbsScene {
  width: 768px;
  height: 256px;
  horizontal-align: center;
}

.GameInfoSeparator {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #444;
}

.PopupButtonRow {
  margin-top: 0;
}

.GameInfoMetaItem {
  margin-right: 16px;
  vertical-align: center;
}

.GameInfoLinkButton {
  flow-children: right;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.GameInfoLinkButton:hover {
  border-top: 1px solid #333;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #333;
  background-color: #222;
}

.GameInfoLinkButton:active {
  border-top: 1px solid #666;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #666;
  background-color: #444;
}

.GameInfoMetaText {
  height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  color: linkText;
}

.GameInfoArrowIcon {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-left: 2px;
  vertical-align: center;
  wash-color: #ddd;
  background-image: controlsArrowPopoutIcon;
  background-size: 16px 16px;
}

.GameInfoLinkButton:hover .GameInfoArrowIcon {
  wash-color: #fff;
}
