.type-simple.empty-description .title {
  margin-bottom: 0;
}

.body {
  flow-children: right;
  horizontal-align: center;
}

.type-simple.empty-description .body {
  visibility: collapse;
}

.icon-container {
  vertical-align: center;
}

.icon-image {
  visibility: collapse;
  width: 80px;
  margin-right: 15px;
}

.empty-description .icon-image {
  margin: 0;
}

.type-image #icon-image {
  visibility: visible;
}

.type-econ-item #econ-item-image {
  visibility: visible;
}

.type-hero #hero-image {
  visibility: visible;
}

.type-ability #ability-image {
  visibility: visible;
}

.type-item #item-image {
  visibility: visible;
}

.body .description {
  max-width: 400px;
  align: center center;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.type-econ-item .body .description {
  text-align: left;
}

#text-entry {
  width: 100%;
  margin-top: 24px;
  horizontal-align: center;
}

.Multiline #text-entry {
  height: 128px;
  white-space: normal;
}

.footer {
  margin-top: 15px;
}
