@import url("file://{resources}/styles/custom_game/variables.css");

.root {
  flow-children: none;
  width: 1300px;
  align: center center;
}

.button.close {
  width: 30px;
  height: 30px;
  margin-top: -16px;
  margin-right: -48px;
  align: right top;
  wash-color: #ddd;
}

.contents {
  overflow: squish scroll;
  flow-children: down;
  width: 100%;
  padding: 32px;
}

.popup-title {
  font-family: font_title;
  font-weight: semi-bold;
  color: white;
}

.popup-description {
  width: 600px;
  horizontal-align: center;
  text-align: center;
}

.orbs-scene {
  width: 768px;
  height: 256px;
  horizontal-align: center;
}

.separator {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #444;
}

.popup-button-row {
  margin-top: 0;
}

.info-item {
  margin-right: 16px;
  vertical-align: center;
}

.info-text {
  height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  color: color_text_link;
}

.link-button {
  flow-children: right;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.link-button:hover {
  border-top: 1px solid #333;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #333;
  background-color: #222;
}

.link-button:active {
  border-top: 1px solid #666;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #666;
  background-color: #444;
}

.link-button .arrow.popout {
  width: 16px;
  height: 16px;
  margin: 2px 0 0 2px;
  wash-color: #ddd;
}

.link-button:hover .arrow-popout {
  wash-color: #fff;
}
