.root {
  flow-children: down;
  padding: 0 0 20px 0;
  align: center center;
  box-shadow: #000 -4px -4px 8px 8px;
  border: 0;
  background-color: #1e252f;
}

.header {
  flow-children: right;
  width: 100%;
  padding: 16px 16px 12px 16px;
  background-color: #242d39;
}

.choice-label {
  vertical-align: center;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-overflow: shrink;
  font-size: 22px;
  color: #bfd2ee;
}

#abilities {
  flow-children: right-wrap;
  padding: 14px;
}

#abilities .ability {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  margin-bottom: 4px;
  box-shadow: #6ad4 -1px -1px 2px 2px;
}

#abilities .ability:disabled {
  opacity: 0.2;
  saturation: 0;
}

#abilities .ability:enabled:hover {
  brightness: 2;
  contrast: 0.95;
  saturation: 1;
}

#abilities .ability.highlighted {
  box-shadow: 0 0 8px aqua;
}
