@import url("s2r://panorama/styles/dotastyles.css");
@import url("file://{resources}/styles/custom_game/popups/popups_shared.css");

.PopupInvokerAbilityPickerRoot {
  flow-children: down;
  padding: 0 0 20px;
  align: center center;
}

.PopupInvokerAbilityPickerHeader {
  flow-children: right;
  width: 100%;
  padding: 16px 16px 12px;
  background-color: #0007;
}

.PopupInvokerAbilityPickerSelectionChoice {
  vertical-align: center;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-overflow: shrink;
  font-size: 22px;
  color: #bfd2ee;
}

#PopupInvokerAbilityPickerAbilityList {
  flow-children: right-wrap;
  padding: 14px;
}

#PopupInvokerAbilityPickerAbilityList .PopupInvokerAbilityPickerAbility {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  margin-bottom: 4px;
  box-shadow: #6ad4 0 0 1px 1px;
}

#PopupInvokerAbilityPickerAbilityList .PopupInvokerAbilityPickerAbility:disabled {
  opacity: 0.2;
  saturation: 0;
}

#PopupInvokerAbilityPickerAbilityList .PopupInvokerAbilityPickerAbility:enabled:hover {
  brightness: 2;
  contrast: 0.95;
  saturation: 1;
}

#PopupInvokerAbilityPickerAbilityList .PopupInvokerAbilityPickerAbility.Highlighted {
  box-shadow: 0 0 8px aqua;
}
