@import url("s2r://panorama/styles/dotastyles.css");
@import url("file://{resources}/styles/custom_game/popups/popups_shared.css");

.PopupItemPickerRoot {
  flow-children: down;
  padding: 0 0 20px;
  align: center center;
}
