@use "../button" as btn;
@use "../ui";
@use "../vars" as v;

.--top-bar {
  flow-children: right;
  width: 100%;
  height: 64px;
  margin-left: 100px;

  #top-bar {
    flow-children: right;
    align: left top;
    margin-top: 13px;
    padding: 4px;
    padding-right: 8px;
    border-radius: 8px;
    background-color: #cccccc11;

    .btn {
      width: 24px;
      height: 24px;
      margin-left: 8px;
      background-size: 90%;
      vertical-align: top;
      opacity: 0.5;
      transition-duration: 0.2s;
      transition-property: opacity, wash-color;
      transition-timing-function: ease-in-out;
      tooltip-position: bottom;

      &:hover {
        opacity: 1;
      }
    }

    #btn-game-info {
      @include btn.info(24px);
    }

    #btn-combat-log {
      @include btn.icon(v.$icon-controls-armory, 24px);
    }

    #btn-quit {
      @include btn.close-circle(24px);
      margin-right: 4px;

      &:hover {
        wash-color: #f43;
      }

      &:enabled:active {
        sound: v.$snd-quit;
      }
    }
  }
}
