@use "../../vars" as v;

.--viewer--combo-step {
  flow-children: right;
  padding: 8px;

  #btn-icon {
    width: 48px;
    height: 48px;
    background-color: #000d;
    box-shadow: v.$cl-gold-80 0 0 2px 2px;
  }

  &.optional #btn-icon {
    box-shadow: #000 0 0 2px 2px;
  }

  #image {
    vertical-align: center;
  }

  #description {
    width: fill-parent-flow(1);
    margin-left: 8px;
    color: #3c1b18;
    font-weight: semi-bold;
    font-size: 18px;
    vertical-align: center;
  }
}
