@import url("s2r://panorama/styles/dotastyles.css");
@import url("file://{resources}/styles/shared/variables.css");
@import url("file://{resources}/styles/shared/panelstyles.css");

@define sequenceWidth: 150px;
@define controlsMarginRight: 0;

.Root {
  visibility: collapse;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition-duration: 0.75s;
  transition-property: opacity;
}

.Root.Open {
  visibility: visible;
  opacity: 1;
}

.Combo {
  width: sequenceWidth;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  horizontal-align: right;
  background-color: comboPanelGradient;
}

.HudVisible .Combo {
  visibility: visible;
}

.HudHideSequence .Combo,
.HudNoHands .Combo {
  visibility: collapse;
}

#Sequence {
  overflow: clip scroll;
  flow-children: down;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  opacity-mask: softEdgeVScrollMask;
}

#Splash {
  visibility: collapse;
  overflow: clip clip;
  flow-children: right;
  width: 0;
  max-width: 0;
  height: 200px;
  margin-top: 200px;
  margin-left: 100px;
  align: left top;
  transition-timing-function: ease-out;
  transition-duration: 0.15s;
  transition-property: max-width, width;
}

#Splash.Show {
  visibility: visible;
  width: 800px;
  max-width: 800px;
}

#Splash .Box {
  flow-children: down;
  min-width: 800px;
  height: 100%;
  opacity-mask: brushHorizontalMask;
  background-color: #000000ef;
}

#Splash .Title {
  width: 100%;
  margin-top: 70px;
  margin-left: -50px;
  text-align: center;
  letter-spacing: 20px;
  text-transform: uppercase;
  text-overflow: shrink;
  font-size: 48px;
  font-weight: black;
  font-style: italic;
  color: #bd42cf;
  text-shadow: 3px 3px 6px #035c68;
}

#Splash.success .Title {
  color: #42cf49;
  text-shadow: 3px 3px 6px #162c5a;
}

#Splash.failure .Title {
  color: #d44b21;
  text-shadow: 3px 3px 6px #474303;
}

#Splash .Help {
  margin-top: 10px;
  margin-left: 280px;
  horizontal-align: left;
  text-align: left;
  color: #999;
  text-shadow: 1px 1px 2px #000c;
}

.Controls {
  flow-children: right;
  margin-right: controlsMarginRight;
  align: right bottom;
}

.Controls .ControlIcon {
  width: 64px;
  height: 64px;
  transition-duration: 0.2s;
  transition-property: background-color;
}

.Controls .ControlIcon:hover {
  border-right: 1px solid #444b;
  border-left: 1px solid #444b;
  background-color: panelTranslucentHoverGradient;
}

.Controls .IconButton {
  width: 100%;
  height: 100%;
  margin: 0;
  vertical-align: center;
  tooltip-position: top;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.Controls .IconButton.Activated {
  sound: "ui_quit_menu_fadeout";
}

.Controls .InfoIcon {
  background-size: 30px 30px;
}

.Controls .EyeIcon {
  background-image: controlsEyeIcon;
  background-size: 32px 32px;
}

.HudHideSequence .Controls .ControlIcon .EyeIcon {
  wash-color: #646464;
}

.HudNoHands .Controls .ControlIcon .EyeIcon {
  wash-color: #3e3e3e;
}

.Controls .FullRefreshIcon {
  background-image: loadingThrobberRoundIcon;
  background-size: 28px 28px;
}

.Controls .FullRefreshIcon.Activated {
  animation-name: SpinnerRotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.Controls .CloseButton {
  background-size: 34px 34px;
}

.Controls .ControlIcon .Grey {
  wash-color: #aaa;
}

.Controls .ControlIcon .Grey:hover {
  wash-color: #fff;
}

.Controls .ControlIcon .Blue {
  wash-color: #65a9db;
}

.Controls .ControlIcon .Blue:hover {
  wash-color: #acc6d8;
}

.Controls .ControlIcon .Bronze {
  wash-color: #dca157;
}

.Controls .ControlIcon .Bronze:hover {
  wash-color: #dca157;
}

.Controls .ControlIcon .Red {
  wash-color: #db6565;
}

.Controls .ControlIcon .Red:hover {
  wash-color: #db6565;
}

#Score {
  margin-bottom: 230px;
  align: center bottom;
}

#Score.Failed {
  wash-color: #000c;
  animation-name: StunPortrait;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
