@import url("file://{resources}/styles/shared/variables.css");

.ChallengeComboStepRoot {
  align: center center;
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  background-color: #241200;
  border: 3px solid goldColor;
  wash-color: #666e;
  opacity-mask: softEdgeBoxMask;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: width, height, wash-color, opacity, pre-transform-scale2d;
  animation-duration: 0.31s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  pre-transform-scale2d: 0;
}

.ChallengeComboStepRoot.ComboStepInvocation {
  width: 40px;
  height: 40px;
}

.ChallengeComboStepRoot.ComboStepOptional {
  border: 3px solid #666;
}

.ChallengeComboStepRoot.ChallengeComboStepBump {
  transition-delay: 0s;
  transition-duration: 0.175s, 0.12s;
  animation-name: ChallengeComboStepBump;
  animation-delay: 0s;
  pre-transform-scale2d: 1;
}

.ChallengeComboStepRoot.ChallengeComboStepActive {
  width: 72px;
  height: 72px;
  wash-color: #ffff;
}

.ChallengeComboStepRoot.ChallengeComboStepError {
  wash-color: #f00e;
}

#ComboStepIconButton {
  width: 100%;
  height: 100%;
}

#ComboStepImage {
  vertical-align: center;
}

@keyframes 'ChallengeComboStepBump' {
  0% {
    opacity: 0;
    pre-transform-scale2d: 0;
  }

  50% {
    opacity: 1;
    pre-transform-scale2d: 1.25;
  }

  100% {
    opacity: 1;
    pre-transform-scale2d: 1;
  }
}
