@import url("file://{resources}/styles/custom_game/variables.css");
@import url("file://{resources}/styles/custom_game/ui.css");
@import url("file://{resources}/styles/custom_game/combo_controls.css");

@define score_margin_top: 100px;
@define sequence_width: 150px;
@define splash_height: 200px;
@define splash_width: 800px;
@define timer_margin_right: 200px;
@define controls_margin_left: 80px;
@define wait_progress_margin_top: 120px;
@define wait_progress_margin_left: 210px;

.root {
  width: 100%;
  height: 100%;
}

.combo {
  width: sequence_width;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  horizontal-align: right;
  opacity: 1;
  background-color: gradient(linear, 0% 50%, 100% 50%, from(#000), to(#000e));
  transition-duration: 0.75s;
  transition-property: opacity;
}

.hud-visible .combo {
  opacity: 1;
}

.hud-hide-sequence .combo,
.hud-no-hands .combo {
  opacity: 0;
}

.Hide .combo {
  opacity: 0;
}

#sequence {
  overflow: clip scroll;
  flow-children: down;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  opacity-mask: mask_soft_edge_vscroll;
}

#splash {
  visibility: collapse;
  overflow: clip noclip;
  width: 0;
  max-width: 0;
  height: splash_height;
  margin-top: 200px;
  margin-left: 100px;
  align: left top;
  transition-timing-function: ease-out;
  transition-duration: 0.15s;
  transition-property: max-width, width;
}

#splash.show {
  visibility: visible;
  width: splash_width;
  max-width: splash_width;
}

#splash .splash-fx {
  width: 100%;
  height: 150%;
  opacity-mask: mask_soft_edge_box_irregular;
}

#splash .splash-box {
  flow-children: down;
  min-width: splash_width;
  height: 100%;
}

#splash .splash-title {
  width: 100%;
  margin-top: 70px;
  margin-left: -50px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-overflow: shrink;
  font-size: 48px;
  font-weight: black;
  font-style: italic;
  color: #bd42cf;
  text-shadow: 3px 3px 6px #04272c;
}

#splash.success .splash-title {
  color: #42cf49;
  text-shadow: 3px 3px 6px #162c5a;
}

#splash.failure .splash-title {
  color: #d44b21;
  text-shadow: 3px 3px 6px #474303;
}

#splash .splash-help {
  margin-top: 10px;
  margin-left: 280px;
  horizontal-align: left;
  text-align: left;
  color: #ccc;
  text-shadow: 1px 1px 2px #000;
}

.combo-controls {
  margin-left: controls_margin_left;
  align: left bottom;
}

.hud-hide-sequence .control-hud-mode {
  wash-color: #646464;
}

.hud-no-hands .control-hud-mode {
  wash-color: #3e3e3e;
}

#wait-progress {
  width: 40px;
  height: 40px;
  margin-top: wait_progress_margin_top;
  margin-left: wait_progress_margin_left;
  align: center top;
}

#wait-progressbar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000c;
}

#wait-progressbar_FG {
  width: 100%;
  height: 100%;
  background-color: #ffad32;
}

#wait-progress .progress-overlay {
  width: 34px;
  height: 34px;
  align: center center;
  border-radius: 50%;
  background-color: black;
}

#wait-progress .progress-text {
  width: 80px;
  align: center center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

#score {
  margin-top: score_margin_top;
  align: center top;
}

#score.failed {
  wash-color: #000c;
  animation-name: StunPortrait;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

#timer {
  width: 140px;
  height: 58px;
  margin-right: timer_margin_right;
  align: right top;
  transform: translateY(0);
  transition-duration: 0.2s;
  transition-property: transform;
}

#timer.Hide {
  transform: translateY(-64px);
}

#timer .timer-bg {
  width: 100%;
  height: 100%;
  background-image: hud_timer_bg;
  background-size: 100%;
}

#timer-label {
  width: 100%;
  margin-top: 12px;
  text-align: center;
  text-overflow: shrink;
  font-size: 26px;
  color: white;
  text-shadow: -1px 2px 1px 2 #333333b0;
}
