@import url("file://{resources}/styles/shared/variables.css");

/******************************************************************************
 * Combo Score (shamelessly rippped from ES arcana)
 *****************************************************************************/

.Root {
  width: 275px;
  height: 120px;
}

.Root .SplashBackground {
  z-index: 0;
  width: 191px;
  height: 129px;
  horizontal-align: center;
  background-image: arcanaShakerSummaryBackground;
  background-size: 100%;
}

.Root.Level2 .SplashBackground {
  background-image: arcanaShakerV2SummaryBackground;
}

.Root .DigitContainer {
  flow-children: left;
  width: 100%;
  margin-left: 20px;
  align: center center;
}

.ESDigitX {
  width: 22px;
  background-image: arcanaShakerCharX;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.Level2 .ESDigitX {
  background-image: arcanaShakerV2CharX;
}

.ESDigit {
  width: 38px;
  height: 59px;
  background-image: arcanaShakerChar1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.Level2 .ESDigit {
  background-image: arcanaShakerV2Char1;
}

.ESDigitHidden {
  visibility: collapse;
}

.ESDigit.digit_0 {
  width: 28px;
  background-image: arcanaShakerChar0;
}

.ESDigit.digit_1 {
  width: 25px;
  background-image: arcanaShakerChar1;
}

.ESDigit.digit_2 {
  width: 34px;
  background-image: arcanaShakerChar2;
}

.ESDigit.digit_3 {
  width: 38px;
  background-image: arcanaShakerChar3;
}

.ESDigit.digit_4 {
  width: 34px;
  background-image: arcanaShakerChar4;
}

.ESDigit.digit_5 {
  width: 40px;
  margin-left: -2px;
  background-image: arcanaShakerChar5;
}

.ESDigit.digit_6 {
  width: 33px;
  background-image: arcanaShakerChar6;
}

.ESDigit.digit_7 {
  width: 35px;
  background-image: arcanaShakerChar7;
}

.ESDigit.digit_8 {
  width: 30px;
  background-image: arcanaShakerChar8;
}

.ESDigit.digit_9 {
  width: 30px;
  background-image: arcanaShakerChar9;
}

.Level2 .ESDigit.digit_0 {
  background-image: arcanaShakerV2Char0;
}

.Level2 .ESDigit.digit_1 {
  background-image: arcanaShakerV2Char1;
}

.Level2 .ESDigit.digit_2 {
  background-image: arcanaShakerV2Char2;
}

.Level2 .ESDigit.digit_3 {
  background-image: arcanaShakerV2Char3;
}

.Level2 .ESDigit.digit_4 {
  background-image: arcanaShakerV2Char4;
}

.Level2 .ESDigit.digit_5 {
  background-image: arcanaShakerV2Char5;
}

.Level2 .ESDigit.digit_6 {
  background-image: arcanaShakerV2Char6;
}

.Level2 .ESDigit.digit_7 {
  background-image: arcanaShakerV2Char7;
}

.Level2 .ESDigit.digit_8 {
  background-image: arcanaShakerV2Char8;
}

.Level2 .ESDigit.digit_9 {
  background-image: arcanaShakerV2Char9;
}

.Root > .Counter {
  width: 250px;
  height: 119px;
  align: center top;
  opacity: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: opacity;
}

.Root.ShowCounter > .Counter {
  opacity: 1;
}

.Root.ShowCounter.ShowSummary > .Counter {
  opacity: 0;
}

#CounterFX {
  width: 100%;
  height: 100%;
}

.Root > .Counter > .Content {
  width: 100%;
  height: 90px;
  margin-bottom: 10px;
  margin-left: 0;
  align: center bottom;
}

#CounterTicker {
  height: 100%;
}

#CounterTicker.DigitContainer {
  margin-right: 90px;
  horizontal-align: center;
}

#CounterTicker .ESDigitX {
  width: 29px;
  height: 44.25px;
  margin-bottom: 0;
  margin-left: -2px;
  vertical-align: bottom;
}

#CounterTicker .ESDigitX,
#CounterTicker .ESDigit {
  align: left center;
}

#CounterTicker .ESDigit {
  pre-transform-scale2d: 0.9;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  transition-property: pre-transform-scale2d, background-image;
}

#CounterTicker.CounterBump .ESDigit {
  pre-transform-scale2d: 1.2;
}

.Root > .Counter > .Content > .Label {
  z-index: 10;
  margin-top: 65px;
  horizontal-align: center;
  vertical-align: bottom;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  line-height: 13px;
  color: #d5f9fe;
  text-shadow: 2px 2px 0 #1b4c44;
}

.Root > .Summary {
  width: 275px;
  height: 120px;
  align: center top;
  opacity: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: opacity;
}

.Root.ShowSummary > .Summary {
  opacity: 1;
}

.Root > .Summary .SplashBackground {
  vertical-align: top;
}

#SummaryFX {
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity-mask: softEdgeBoxMask;
}

.Root > .Summary > .Content {
  flow-children: down;
  width: 100%;
  align: center center;
}

.Root > .Summary > .Content > .Count {
  flow-children: right;
  width: 100%;
  horizontal-align: center;
}

#SummaryCountDisplay.DigitContainer {
  width: 40%;
  horizontal-align: center;
}

#SummaryCountDisplay .ESDigitX {
  width: 10px;
  height: 22.125px;
  margin-bottom: 0;
  margin-left: 0;
  vertical-align: bottom;
}

/* stylelint-disable-next-line no-descending-specificity */
#SummaryCountDisplay .ESDigit {
  height: 28px;
}

#SummaryCountDisplay .ESDigit.digit_0 {
  width: 13px;
}

#SummaryCountDisplay .ESDigit.digit_1 {
  width: 12px;
}

#SummaryCountDisplay .ESDigit.digit_2 {
  width: 16px;
}

#SummaryCountDisplay .ESDigit.digit_3 {
  width: 18px;
}

#SummaryCountDisplay .ESDigit.digit_4 {
  width: 18px;
}

#SummaryCountDisplay .ESDigit.digit_5 {
  width: 19px;
  margin-left: -2px;
}

#SummaryCountDisplay .ESDigit.digit_6 {
  width: 16px;
}

#SummaryCountDisplay .ESDigit.digit_7 {
  width: 17px;
}

#SummaryCountDisplay .ESDigit.digit_8 {
  width: 14px;
}

#SummaryCountDisplay .ESDigit.digit_9 {
  width: 14px;
}

.Root > .Summary > .Content > .Count > .Label {
  margin-left: 5px;
  vertical-align: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bolder;
  color: #fff;
  text-shadow: 2px 2px 0 #1b4c44;
}

.Root > .Summary > .Content > .Damage {
  flow-children: down;
  width: 100%;
}

#SummaryDamageTicker {
  margin-right: 60px;
  horizontal-align: right;
}

#SummaryDamageTicker.DigitContainer {
  width: 70%;
  horizontal-align: center;
}

/* stylelint-disable-next-line no-descending-specificity */
#SummaryDamageTicker .ESDigit {
  margin-top: -3px;
}

.Root > .Summary > .Content > .Damage > .Label {
  margin-top: -5px;
  margin-left: 0;
  align: center center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bolder;
  color: #fff;
  text-shadow: 2px 2px 0 #1b4c44;
}
