@import url("file://{resources}/styles/shared/variables.css");

.ComboStep {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  align: center center;
  pre-transform-scale2d: 0;
  opacity-mask: softEdgeBoxMask;
  wash-color: #666e;
  border: 3px solid goldColor;
  background-color: #241200;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: width, height, wash-color, opacity, pre-transform-scale2d;
  animation-duration: 0.31s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

.ComboStep.Bump {
  pre-transform-scale2d: 1;
  transition-delay: 0s;
  transition-duration: 0.175s, 0.12s;
  animation-name: ComboStepBump;
  animation-delay: 0s;
}

.ComboStep.Orb {
  width: 40px;
  height: 40px;
}

.ComboStep.Optional {
  border: 3px solid #666;
}

.ComboStep.Active {
  width: 72px;
  height: 72px;
  wash-color: #ffff;
}

.ComboStep.Error {
  wash-color: #f00e;
}

#StepIconButton {
  width: 100%;
  height: 100%;
}

#StepImage {
  vertical-align: center;
}

@keyframes 'ComboStepBump' {
  0% {
    pre-transform-scale2d: 0;
    opacity: 0;
  }

  50% {
    pre-transform-scale2d: 1.25;
    opacity: 1;
  }

  100% {
    pre-transform-scale2d: 1;
    opacity: 1;
  }
}
