@import url("file://{resources}/styles/shared/variables.css");

.ComboStep {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
  align: center center;
  pre-transform-scale2d: 0;
  wash-color: #000c;
  box-shadow: goldColor -2px -2px 4px 4px;
  background-color: #2d1600;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
  transition-property: width, height, wash-color;
}

.ComboStep.Bump {
  pre-transform-scale2d: 1;
  animation-name: ComboStepBump;
  animation-duration: 0.25s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.ComboStep.Orb {
  width: 40px;
  height: 40px;
}

.ComboStep.Optional {
  box-shadow: #666 -2px -2px 4px 4px;
}

.ComboStep.Active {
  width: 72px;
  height: 72px;
  wash-color: #ffff;
}

.ComboStep.Error {
  wash-color: #f00e;
}

.StepIcon {
  width: 100%;
  height: 100%;
}

#StepImage {
  vertical-align: center;
}

@keyframes 'ComboStepBump' {
  0% {
    pre-transform-scale2d: 0;
  }

  50% {
    pre-transform-scale2d: 1.25;
  }

  100% {
    pre-transform-scale2d: 1;
  }
}
