@import url("file://{resources}/styles/custom_game/variables.css");
@import url("file://{resources}/styles/custom_game/panels.css");

/* cl_width = ((cl_cell_size + (2 * cl_cell_margin)) * cl_columns) + (2 * cl_padding) + cl_scroll_width */

@define cl_columns: 20;
@define cl_width: 740px;
@define cl_height: 200px;
@define cl_padding: 5px;
@define cl_cell_size: 32px;
@define cl_cell_margin: 2px;
@define cl_scroll_width: 10px;
@define cl_translate_y: -150px;
@define cl_bar_height: 50px;
@define cl_thumb_width: 19px;
@define cl_thumb_height: 19px;

.root {
  width: 100%;
  height: 100%;
}

#combat-log {
  flow-children: down;
  width: cl_width;
  height: cl_height;
  align: center top;
  transform: translateY(0);
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
  transition-property: transform;
}

.root.closed #combat-log {
  transform: translateY(cl_translate_y);
}

#contents {
  overflow: clip scroll;
  flow-children: down;
  width: 100%;
  height: fill-parent-flow(1);
  padding-top: clpadding;
  padding-right: clpadding;
  padding-left: clpadding;
}

.row {
  flow-children: right;
}

.ability-icon {
  width: cl_cell_size;
  height: cl_cell_size;
  margin: cl_cell_margin;
  box-shadow: #222 -2px -2px 4px 4px;
  background-color: #000d;
}

.ability-icon .ability-image {
  width: 100%;
  vertical-align: center;
}

.bar {
  flow-children: right;
  width: 100%;
  height: clbarheight;
  padding: 0 8px;
  border-top: 1px solid #222;
  background-color: #0003;
}

.thumb {
  horizontal-align: left;
  vertical-align: center;
}

.thumb .TickBox {
  width: cl_thumb_width;
  height: cl_thumb_height;
  transform: rotateZ(180deg) translateY(-2px);
  wash-color: #d8d8d8;
}

.thumb:selected .TickBox {
  width: cl_thumb_width;
  height: cl_thumb_height;
  transform: rotateZ(0deg) translateY(2px);
  wash-color: #d8d8d8;
}

.thumb .TickBox:hover {
  wash-color: #fff;
}

.title {
  horizontal-align: left;
  vertical-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-overflow: shrink;
  font-family: defaultFont;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 0 3 #0006;
}

.actions {
  flow-children: right;
  height: 100%;
  horizontal-align: right;
}

.root.closed .actions {
  visibility: collapse;
}

.actions .action-item {
  margin-right: 8px;
  vertical-align: center;
}

.actions .button.clear {
  margin: 0;
}
