@import url("s2r://panorama/styles/dotastyles.css");
@import url("file://{resources}/styles/shared/variables.css");

.Root {
  flow-children: right;
  width: 100%;
  height: 100%;
}

#Combo {
  flow-children: down;
  width: 154px;
  height: 100%;
  margin-left: -154px;
  align: right center;
  background-color: comboPanelGradient;
}

#Sequence {
  overflow: clip scroll;
  flow-children: down;
  width: 100%;
  height: fill-parent-flow(2);
  margin-top: 70px;
}

#SequenceContainer {
  flow-children: down;
  horizontal-align: center;
}

#RestartButton {
  min-width: 130px;
  margin: 12px;
  align: center bottom;
}

#StopButton {
  min-width: 130px;
  margin: 0 12px 12px 12px;
  align: center bottom;
}

#ComboCount {
  width: 100%;
  margin-bottom: 230px;
  vertical-align: bottom;
}

#ComboCount.Hidden {
  visibility: collapse;
}

#ComboCountContainer {
  width: 250px;
  height: 119px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: opacity;
  align: center top;
  opacity: 0;
}

.ShowComboCount #ComboCountContainer {
  opacity: 1;
}

.ShowComboCount.ShowComboSummary #ComboCountContainer {
  opacity: 0;
}

#ComboCountContents {
  width: 100%;
  height: 90px;
  margin-bottom: 10px;
  margin-left: 0;
  horizontal-align: center;
  vertical-align: bottom;
}

.ComboCountText {
  font-size: 46px;
  font-weight: bolder;
  z-index: 10;
  margin-bottom: 10px;
  margin-left: 5px;
  text-align: left;
  color: #fefefe;
  text-shadow: 2px 2px 3px #1b4c44;
}

#ComboCounter {
  height: 100%;
  horizontal-align: center;
}

#ComboDamage {
  margin-right: 60px;
  horizontal-align: right;
}

.ComboDigits {
  margin-right: 90px;
  horizontal-align: center;
}

.DigitContainer {
  flow-children: left;
  width: 100%;
  margin-left: 20px;
  horizontal-align: center;
  vertical-align: center;
}

.ComboSummary > .DigitContainer {
  width: 40%;
  horizontal-align: center;
}

.DamageSummary > .DigitContainer {
  width: 70%;
  horizontal-align: center;
}

.ESDigit {
  width: 38px;
  height: 59px;
  background-image: arcanaShakerChar1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ArcanaLevel2 .ESDigit {
  background-image: arcanaShakerV2Char1;
}

.ESDigitHidden {
  visibility: collapse;
}

.ComboSummaryDigit {
  height: 28px;
}

.DamageSummaryDigit {
  margin-top: -3px;
}

.ESDigit.digit_0 {
  width: 28px;
  background-image: arcanaShakerChar0;
}

.ESDigit.digit_1 {
  width: 25px;
  background-image: arcanaShakerChar1;
}

.ESDigit.digit_2 {
  width: 34px;
  background-image: arcanaShakerChar2;
}

.ESDigit.digit_3 {
  width: 38px;
  background-image: arcanaShakerChar3;
}

.ESDigit.digit_4 {
  width: 34px;
  background-image: arcanaShakerChar4;
}

.ESDigit.digit_5 {
  width: 40px;
  margin-left: -2px;
  background-image: arcanaShakerChar5;
}

.ESDigit.digit_6 {
  width: 33px;
  background-image: arcanaShakerChar6;
}

.ESDigit.digit_7 {
  width: 35px;
  background-image: arcanaShakerChar7;
}

.ESDigit.digit_8 {
  width: 30px;
  background-image: arcanaShakerChar8;
}

.ESDigit.digit_9 {
  width: 30px;
  background-image: arcanaShakerChar9;
}

.ArcanaLevel2 .ESDigit.digit_0 {
  background-image: arcanaShakerV2Char0;
}

.ArcanaLevel2 .ESDigit.digit_1 {
  background-image: arcanaShakerV2Char1;
}

.ArcanaLevel2 .ESDigit.digit_2 {
  background-image: arcanaShakerV2Char2;
}

.ArcanaLevel2 .ESDigit.digit_3 {
  background-image: arcanaShakerV2Char3;
}

.ArcanaLevel2 .ESDigit.digit_4 {
  background-image: arcanaShakerV2Char4;
}

.ArcanaLevel2 .ESDigit.digit_5 {
  background-image: arcanaShakerV2Char5;
}

.ArcanaLevel2 .ESDigit.digit_6 {
  background-image: arcanaShakerV2Char6;
}

.ArcanaLevel2 .ESDigit.digit_7 {
  background-image: arcanaShakerV2Char7;
}

.ArcanaLevel2 .ESDigit.digit_8 {
  background-image: arcanaShakerV2Char8;
}

.ArcanaLevel2 .ESDigit.digit_9 {
  background-image: arcanaShakerV2Char9;
}

.ComboSummaryDigit.digit_0 {
  width: 13px;
}

.ComboSummaryDigit.digit_1 {
  width: 12px;
}

.ComboSummaryDigit.digit_2 {
  width: 16px;
}

.ComboSummaryDigit.digit_3 {
  width: 18px;
}

.ComboSummaryDigit.digit_4 {
  width: 18px;
}

.ComboSummaryDigit.digit_5 {
  width: 19px;
  margin-left: -2px;
}

.ComboSummaryDigit.digit_6 {
  width: 16px;
}

.ComboSummaryDigit.digit_7 {
  width: 17px;
}

.ComboSummaryDigit.digit_8 {
  width: 14px;
}

.ComboSummaryDigit.digit_9 {
  width: 14px;
}

.ComboX {
  width: 22px;
  background-image: arcanaShakerCharX;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ArcanaLevel2 .ComboX {
  background-image: arcanaShakerV2CharX;
}

.ComboCountX {
  width: 29px;
  height: 44.25px;
  margin-bottom: 0;
  margin-left: -2px;
  vertical-align: bottom;
}

.ComboSummaryX {
  width: 10px;
  height: 22.125px;
  margin-bottom: 0;
  margin-left: 0;
  vertical-align: bottom;
}

.ComboCountValue {
  horizontal-align: left;
  vertical-align: center;
}

.ComboCountDigit {
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  transition-property: pre-transform-scale2d, background-image;
  pre-transform-scale2d: 0.9;
}

.CounterBump .ComboCountDigit {
  pre-transform-scale2d: 1.2;
}

.ComboCountLabel {
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  line-height: 13px;
  z-index: 10;
  margin-top: 65px;
  text-align: center;
  horizontal-align: center;
  vertical-align: bottom;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #d5f9fe;
  text-shadow: 2px 2px 0 #1b4c44;
}

.ComboSummaryText {
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#ComboSummaryContainer {
  width: 275px;
  height: 120px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: opacity;
  align: center top;
  opacity: 0;
}

.SplashBackground {
  z-index: 0;
  width: 191px;
  height: 129px;
  horizontal-align: center;
  background-image: arcanaShakerSummaryBackground;
  background-size: 100%;
}

.ArcanaLevel2 .SplashBackground {
  background-image: arcanaShakerV2SummaryBackground;
}

.SplashBackground.SummaryBackground {
  vertical-align: top;
}

#ComboAmbientFX {
  width: 100%;
  height: 100%;
}

.ComboDamageContainer {
  horizontal-align: center;
  color: #fff;
}

.ESDamageCount {
  font-size: 46px;
  font-weight: bolder;
  line-height: 30px;
  height: 50px;
  horizontal-align: center;
  letter-spacing: -0.2px;
  color: #fff;
  text-shadow: 2px 2px 3px #000;
}

.SummaryComboLabel {
  font-size: 13px;
  font-weight: bolder;
  margin-left: 5px;
  text-align: center;
  vertical-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 1;
  color: #fff;
  text-shadow: 2px 2px 0 #1b4c44;
}

.SummaryDamageLabel {
  font-size: 13px;
  font-weight: bolder;
  margin-top: -5px;
  margin-left: 0;
  text-align: center;
  align: center center;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 1;
  color: #fff;
  text-shadow: 2px 2px 0 #1b4c44;
}

.ESComboCount {
  font-size: 12px;
  font-weight: bolder;
  font-style: italic;
  margin-top: 0;
  transform: translateY(10px);
  align: center top;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 0 #1b4c44;
}

#ComboSummaryFX {
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity-mask: softEdgeBoxMask;
}

.ComboSummary {
  flow-children: right;
  width: 100%;
  horizontal-align: center;
}

.DamageSummary {
  flow-children: down;
  width: 100%;
}

#ComboSummaryContents {
  flow-children: down;
  width: 100%;
  align: center center;
}

.ShowComboSummary #ComboSummaryContainer {
  opacity: 1;
}
