@import url("file://{resources}/styles/custom_game/variables.css");

/******************************************************************************
 * Combo Score (shamelessly rippped from ES arcana)
 *****************************************************************************/

.root {
  width: 275px;
  height: 120px;
}

.splash-bg {
  z-index: 0;
  width: 191px;
  height: 129px;
  horizontal-align: center;
  background-image: hud_arcana_es_summary_background;
  background-size: 100%;
}

.level2 .splash-bg {
  background-image: hud_arcana_es_v2_summary_background;
}

.digits-container {
  flow-children: left;
  width: 100%;
  margin-left: 20px;
  align: center center;
}

.digits-container .digit-x {
  width: 22px;
  background-image: hud_arcana_es_chr_x;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.level2 .digits-container .digit-x {
  background-image: hud_arcana_es_v2_chr_x;
}

.digits-container .digit-hidden {
  visibility: collapse;
}

.digits-container .digit {
  width: 38px;
  height: 59px;
  background-image: hud_arcana_es_chr_0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.level2 .digits-container .digit {
  background-image: hud_arcana_es_v2_chr_0;
}

.digits-container .digit.digit-0 {
  width: 28px;
  background-image: hud_arcana_es_chr_0;
}

.digits-container .digit.digit-1 {
  width: 25px;
  background-image: hud_arcana_es_chr_1;
}

.digits-container .digit.digit-2 {
  width: 34px;
  background-image: hud_arcana_es_chr_2;
}

.digits-container .digit.digit-3 {
  width: 38px;
  background-image: hud_arcana_es_chr_3;
}

.digits-container .digit.digit-4 {
  width: 34px;
  background-image: hud_arcana_es_chr_4;
}

.digits-container .digit.digit-5 {
  width: 40px;
  margin-left: -2px;
  background-image: hud_arcana_es_chr_5;
}

.digits-container .digit.digit-6 {
  width: 33px;
  background-image: hud_arcana_es_chr_6;
}

.digits-container .digit.digit-7 {
  width: 35px;
  background-image: hud_arcana_es_chr_7;
}

.digits-container .digit.digit-8 {
  width: 30px;
  background-image: hud_arcana_es_chr_8;
}

.digits-container .digit.digit-9 {
  width: 30px;
  background-image: hud_arcana_es_chr_9;
}

.level2 .digits-container .digit.digit-0 {
  background-image: hud_arcana_es_v2_chr_0;
}

.level2 .digits-container .digit.digit-1 {
  background-image: hud_arcana_es_v2_chr_1;
}

.level2 .digits-container .digit.digit-2 {
  background-image: hud_arcana_es_v2_chr_2;
}

.level2 .digits-container .digit.digit-3 {
  background-image: hud_arcana_es_v2_chr_3;
}

.level2 .digits-container .digit.digit-4 {
  background-image: hud_arcana_es_v2_chr_4;
}

.level2 .digits-container .digit.digit-5 {
  background-image: hud_arcana_es_v2_chr_5;
}

.level2 .digits-container .digit.digit-6 {
  background-image: hud_arcana_es_v2_chr_6;
}

.level2 .digits-container .digit.digit-7 {
  background-image: hud_arcana_es_v2_chr_7;
}

.level2 .digits-container .digit.digit-8 {
  background-image: hud_arcana_es_v2_chr_8;
}

.level2 .digits-container .digit.digit-9 {
  background-image: hud_arcana_es_v2_chr_9;
}

.root > .counter {
  width: 250px;
  height: 119px;
  align: center top;
  opacity: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: opacity;
}

.root.show-counter > .counter {
  opacity: 1;
}

.root.show-summary > .counter {
  opacity: 0;
}

#counter-fx {
  width: 100%;
  height: 100%;
}

.root > .counter > .content {
  width: 100%;
  height: 90px;
  margin-bottom: 10px;
  margin-left: 0;
  align: center bottom;
}

#counter-ticker {
  height: 100%;
}

#counter-ticker.digits-container {
  margin-right: 90px;
  horizontal-align: center;
}

#counter-ticker .digit-x {
  width: 29px;
  height: 44.25px;
  margin-bottom: 0;
  margin-left: -2px;
  vertical-align: bottom;
}

#counter-ticker .digit-x,
#counter-ticker .digit {
  align: left center;
}

#counter-ticker .digit {
  pre-transform-scale2d: 0.9;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  transition-property: pre-transform-scale2d, background-image;
}

#counter-ticker.bump .digit {
  pre-transform-scale2d: 1.2;
}

.root > .counter > .content > .score-label {
  z-index: 10;
  margin-top: 65px;
  horizontal-align: center;
  vertical-align: bottom;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  line-height: 13px;
  color: #d5f9fe;
  text-shadow: 2px 2px 0 #1b4c44;
}

.root > .summary {
  width: 275px;
  height: 120px;
  align: center top;
  opacity: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: opacity;
}

.root.show-summary > .summary {
  opacity: 1;
}

.root > .summary .splash-bg {
  vertical-align: top;
}

#summary-fx {
  z-index: 100;
  width: 100%;
  height: 100%;
  opacity-mask: mask_soft_edge_box;
}

.root > .summary > .content {
  flow-children: down;
  width: 100%;
  align: center center;
}

.root > .summary > .content > .step-count {
  flow-children: right;
  width: 100%;
  horizontal-align: center;
}

#summary-step-count-ticker.digits-container {
  width: 40%;
  horizontal-align: center;
}

#summary-step-count-ticker .digit-x {
  width: 10px;
  height: 22.125px;
  margin-bottom: 0;
  margin-left: 0;
  vertical-align: bottom;
}

/* stylelint-disable-next-line no-descending-specificity */
#summary-step-count-ticker .digit {
  height: 28px;
}

#summary-step-count-ticker .digit.digit-0 {
  width: 13px;
}

#summary-step-count-ticker .digit.digit-1 {
  width: 12px;
}

#summary-step-count-ticker .digit.digit-2 {
  width: 16px;
}

#summary-step-count-ticker .digit.digit-3 {
  width: 18px;
}

#summary-step-count-ticker .digit.digit-4 {
  width: 18px;
}

#summary-step-count-ticker .digit.digit-5 {
  width: 19px;
  margin-left: -2px;
}

#summary-step-count-ticker .digit.digit-6 {
  width: 16px;
}

#summary-step-count-ticker .digit.digit-7 {
  width: 17px;
}

#summary-step-count-ticker .digit.digit-8 {
  width: 14px;
}

#summary-step-count-ticker .digit.digit-9 {
  width: 14px;
}

.root > .summary > .content > .step-count > .score-label {
  margin-left: 5px;
  vertical-align: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bolder;
  color: #fff;
  text-shadow: 2px 2px 0 #1b4c44;
}

.root > .summary > .content > .score-damage {
  flow-children: down;
  width: 100%;
}

#summary-damage-ticker {
  width: 70%;
  margin-right: 60px;
  horizontal-align: center;
}

/* stylelint-disable-next-line no-descending-specificity */
#summary-damage-ticker .digit {
  margin-top: -3px;
}

.root > .summary > .content > .score-damage > .score-label {
  margin-top: -5px;
  margin-left: 0;
  align: center center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bolder;
  color: #fff;
  text-shadow: 2px 2px 0 #1b4c44;
}
