@import url("s2r://panorama/styles/dashboard_page_shared.css");
@import url("file://{resources}/styles/shared/variables.css");

@define bgColor0: #14181d;
@define bgColor1: #0b0c0e;

@define facetColorNoneAccent: #d6dad7;
@define facetColorNoneSecondary: #79867c;

@define facetGradientNone: gradient(
  linear,
  0% 0%,
  100% 100%,
  from(bgColor1),
  color-stop(0.400, bgColor1),
  color-stop(0.403, facetColorNoneSecondary),
  color-stop(0.410, facetColorNoneAccent),
  color-stop(0.650, facetColorNoneAccent),
  color-stop(0.660, facetColorNoneSecondary),
  color-stop(0.663, bgColor1),
  to(bgColor1)
);

@define facetGradientQuas: gradient(
  linear,
  0% 0%,
  100% 100%,
  from(bgColor1),
  color-stop(0.400, bgColor1),
  color-stop(0.403, quasTextColor),
  color-stop(0.410, quasAccentColor),
  color-stop(0.650, quasAccentColor),
  color-stop(0.660, quasTextColor),
  color-stop(0.663, bgColor1),
  to(bgColor1)
);

@define facetGradientWex: gradient(
  linear,
  0% 0%,
  100% 100%,
  from(bgColor1),
  color-stop(0.400, bgColor1),
  color-stop(0.403, wexTextColor),
  color-stop(0.410, wexAccentColor),
  color-stop(0.650, wexAccentColor),
  color-stop(0.660, wexTextColor),
  color-stop(0.663, bgColor1),
  to(bgColor1)
);

@define facetGradientExort: gradient(
  linear,
  0% 0%,
  100% 100%,
  from(bgColor1),
  color-stop(0.400, bgColor1),
  color-stop(0.403, exortTextColor),
  color-stop(0.410, exortAccentColor),
  color-stop(0.650, exortAccentColor),
  color-stop(0.660, exortTextColor),
  color-stop(0.663, bgColor1),
  to(bgColor1)
);

.root {
  width: 100%;
  height: 100%;
  background-color: bgColor0;
}

.root.splash {
  transition-timing-function: linear;
  transition-duration: 0.66s;
  transition-property: background-color;
}

.root.splash-init {
  background-color: facetGradientNone;
}

.root.facet-quas {
  background-color: facetGradientQuas;
}

.root.facet-wex {
  background-color: facetGradientWex;
}

.root.facet-exort {
  background-color: facetGradientExort;
}

#title-fx {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
  transition-property: opacity;
  transform: translateX(64px) translateY(64px) translateZ(-40px);
}

#title-fx.SceneLoaded {
  opacity: 1;
}

.title-panel {
  width: 300px;
  height: 300px;
  margin-top: 64px;
  margin-left: 64px;
  background-color: invokationSunGradient;
  animation-name: SunstrikeGlow;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.title {
  align: center center;
  width: 100%;
  font-family: titleFont;
  font-size: 80px;
  font-weight: semi-bold;
  color: #bbb6ae;
  text-align: center;
  text-overflow: shrink;
  text-shadow: 2px 4px 4px #000;
  text-transform: uppercase;
  letter-spacing: -2px;
}

#scene {
  width: 100%;
  height: 100%;
  opacity: 0;
}

#scene.SceneLoaded {
  opacity: 1;
}

#facet-scene {
  align: right bottom;
  z-index: 100;
  width: 100%;
  height: 100%;
}

@keyframes 'SunstrikeGlow' {
  0% {
    background-color: invokationSunGradient;
  }

  50% {
    background-color: invokationSunFadingGradient;
  }

  100% {
    background-color: invokationSunGradient;
  }
}
