@import url('s2r://panorama/styles/dashboard_page_shared.css');
@import url('file://{resources}/styles/shared/variables.css');

@define gInvkSun: gradient(radial, 50% 50%, 0% 0%, 50% 50%, from(#2b1d10f1), color-stop(0.6,
  #ff9100c2), to(#00000000));

@define gInvkSunFading: gradient(radial, 50% 50%, 0% 0%, 50% 50%, from(#2b1d10f1), color-stop(0.6,
  #ce7909c2), to(#00000000));

.Root {
  width: 100%;
  height: 100%;
  background-color: #14181d;
}

.Root.Initialize {
  background-color: gradient(
    linear,
    0% 0%,
    100% 100%,
    from(#0b0c0e),
    color-stop(0.3, #14181d),
    color-stop(0.303, #6c829c),
    color-stop(0.31, #99b8dd),
    color-stop(0.55, #99b8dd),
    color-stop(0.56, #6c829c),
    color-stop(0.563, #14181d),
    to(#0b0c0e)
  );
}

#TitleFX {
  width: 100%;
  height: 100%;
  transform: translateX(64px) translateY(64px) translateZ(-40px);
  opacity: 0;
  transition-duration: 0.4s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

#TitleFX.SceneLoaded {
  opacity: 1;
}

.TitlePanel {
  width: 300px;
  height: 300px;
  margin-top: 64px;
  margin-left: 64px;
  background-color: gInvkSun;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: SunstrikeGlow;
}

.Title {
  align: center center;
  width: 100%;
  color: #bbb6ae;
  font-weight: semi-bold;
  font-size: 80px;
  font-family: fTitle;
  letter-spacing: -2px;
  text-align: center;
  text-overflow: shrink;
  text-shadow: 2px 4px 4px #000;
  text-transform: uppercase;
}

#Scene {
  width: 100%;
  height: 100%;
  margin-left: -200px;
  transform: translateZ(-30px);
  opacity: 0;
}

#Scene.SceneLoaded {
  opacity: 1;
}

@keyframes 'SunstrikeGlow' {
  0% {
    background-color: gInvkSun;
  }

  50% {
    background-color: gInvkSunFading;
  }

  100% {
    background-color: gInvkSun;
  }
}
