@import url("file://{resources}/styles/custom_game/variables.css");

@define combos_width: 320px;
@define combo_width: 290px;
@define filters_width: 240px;
@define filter_row_width: 220px;
@define paper_width: 637px;
@define paper_height: 834px;

.root {
  width: 1392px;
  height: 964px;
  margin-top: 32px;
  align: center middle;
  opacity: 1;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.35s;
  transition-property: opacity !immediate;
}

.root.closed {
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: opacity !immediate;
}

.picker {
  flow-children: right;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(27, 32, 36, 0.75);
  border-radius: 2px;
  background-image: bg_picker;
  background-repeat: no-repeat;
  background-size: 100%;

  /* box-shadow: -6px -6px 12px 12px rgba(27, 32, 36, 0.75); */
}

#combos {
  width: combos_width;
  height: 100%;
}

.filters {
  overflow: noclip scroll;
  flow-children: down;
  width: filters_width;
  height: 100%;
  padding: 10px;
}

.filters .filter-row {
  flow-children: down;
  width: filter_row_width;
  margin-top: 10px;
}

.filters .filter-label {
  margin-bottom: 4px;
}

.filters .filter-reset-button {
  width: 12px;
  height: 12px;
  margin: 0 0 0 6px;
  padding: 0;
  vertical-align: center;
  wash-color: #ff808088;
}

.filters .filter-reset-button:hover {
  wash-color: #ff8080;
}

.filters .filter-reset-button:disabled {
  visibility: collapse;
}

#filter-tags-container {
  width: 100%;
}

.filters .filter-row.popup-picker-row {
  flow-children: right;
}

.filters .popup-picker-column {
  flow-children: down;
  margin-right: 10px;
}

.filters .popup-picker-label {
  margin: 0 0 4px 0;
  padding: 0;
  vertical-align: center;
}

.filters .popup-picker-icon-button {
  border-width: 1px;
  border-style: solid;
  border-top-color: #555;
  border-right-color: #404040;
  border-bottom-color: #333;
  border-left-color: #494949;
  background-color: gradient(linear, 0% 0%, 0% 100%, from(#373d45), to(#4d5860));
}

#filter-item-image {
  width: 40px;
  height: 40px;
  align: center center;
}

#filter-ability-image {
  width: 40px;
  height: 40px;
  align: center center;
}

.filters .filter-row.buttons-row {
  flow-children: right;
  width: fit-children;
  margin-top: 30px;
  horizontal-align: center;
}

.filters .filters-reset-button {
  min-width: 142px;
}

.content {
  flow-children: down;
  width: 1056px;
  height: 100%;
  box-shadow: inset 4px 0 8px 4px #000000b8;
}

.content .header {
  width: 100%;
  height: 64px;
  background-color: gradient(linear, 100% 0%, 0% 0%, from(#0d121788), to(#070a0c88));
}

.content .header .RefreshButton {
  visibility: collapse;
  width: 24px;
  height: 24px;
  margin: 8px 40px 0 0;
  horizontal-align: right;
  wash-color: #777;
  background-size: 100%;
}

.content .header .RefreshButton:hover {
  wash-color: color_text_exort;
}

.development .content .header .RefreshButton {
  visibility: visible;
}

.content .header .CloseButton {
  width: 24px;
  height: 24px;
  margin: 8px 8px 0 0;
  horizontal-align: right;
  wash-color: #fff;
  background-size: 100%;
}

.content .header .CloseButton:hover {
  wash-color: color_accent_wex;
}

.freestyle-button {
  width: 170px;
  height: 50px;
  margin-top: 14px;
  horizontal-align: middle;
  background-image: hud_invoker_card;
  background-repeat: no-repeat;
  background-size: 100%;
  transition-timing-function: ease-in-out;
  transition-duration: 0.18s;
  transition-property: brightness, saturation;
}

.freestyle-button:hover {
  brightness: 2;
  saturation: 1.3;
}

.freestyle-button:active {
  pre-transform-scale2d: 0.975;
}

.freestyle-button .freestyle-label {
  margin-top: 2px;
  align: center center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-overflow: shrink;
  font-weight: bold;
  color: #000;
  text-shadow: 0 0 3px 3 #0003;
}

.freestyle-button:hover .freestyle-label {
  color: #ccc;
}

.content .body {
  width: 100%;
  height: fill-parent-flow(1);
  border-top: 1px solid #000;
}

.content .body .placeholder {
  max-height: 80px;
  align: center center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: semi-bold;
  opacity: 1;
  color: color_text_blue_grey_bright;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.35s;
  transition-property: opacity !immediate;
}

.combo-selected .content .body .placeholder {
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: opacity !immediate;
}

.content .body .body-fx {
  width: 100%;
  height: 33%;
  vertical-align: bottom;
  brightness: 3;
  hue-rotation: 60deg;
  animation-name: qwe-hue-rotation;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.content .body .description {
  flow-children: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-top: 1px solid #0000;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: opacity !immediate;
}

.combo-selected .content .body .description {
  opacity: 1;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.35s;
  transition-property: opacity !immediate;
}

.content .body .description .description-bg {
  width: paper_width;
  height: paper_height;
  align: center center;
  background-image: bg_viewer;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

@keyframes 'qwe-hue-rotation' {
  0% {
    hue-rotation: 60deg;
  }

  30% {
    hue-rotation: 60deg;
  }

  33% {
    hue-rotation: 145deg;
  }

  63% {
    hue-rotation: 145deg;
  }

  66% {
    hue-rotation: 275deg;
  }

  98% {
    hue-rotation: 275deg;
  }

  100% {
    hue-rotation: 360deg;
  }
}
