@import url("s2r://panorama/styles/dotastyles.css");
@import url("file://{resources}/styles/shared/variables.css");
@import url("file://{resources}/styles/shared/panelstyles.css");

.HeroCombo {
  flow-children: down;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
}

.HeroCombo:hover {
  background-color: black;
}

.HeroCombo .PanelTitle {
  text-align: left;
  font-size: 12px;
}

.HeroCombo .InfoContainer {
  flow-children: right;
}

.HeroCombo .ComboIcon {
  width: 28px;
  height: 28px;
  margin: 3px;
  vertical-align: center;
  tooltip-position: right;
  tooltip-body-position: 50% 10%;
}

.HeroCombo .InfoIcon {
  margin-right: 0;
  margin-left: 0;
}

.HeroCombo .InfoIcon:hover {
  wash-color: #fff;
}

.HeroCombo .SpecialtyIcon {
  border-radius: 50%;
}

.HeroCombo.specialty_qw .SpecialtyIcon {
  background-color: specialtyQuasWexGradient;
}

.HeroCombo.specialty_qe .SpecialtyIcon {
  background-color: specialtyQuasExortGradient;
}

.HeroCombo .StanceIcon {
  wash-color: #888;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: wash-color;
}

.HeroCombo.stance_offensive .StanceIcon {
  background-image: stanceOffensiveIcon;
}

.HeroCombo.stance_defensive .StanceIcon {
  background-image: stanceDefensiveIcon;
}

.HeroCombo .HeroLevelIcon {
  border-radius: 50%;
  background-color: #121212;
}

.HeroCombo:hover .HeroLevelIcon {
  background-color: #222;
}

.HeroCombo .HeroLevelLabel {
  width: 14px;
  margin-top: 3px;
  align: center center;
  text-align: center;
  text-overflow: shrink;
  font-size: 14px;
  font-weight: normal;
  color: #e7d291;
  text-shadow: 0 0 3px 3.7 #ec780e24;
}

.HeroCombo .RatingsContainer {
  flow-children: down;
}

.HeroCombo .RatingContainer {
  flow-children: right;
}

.HeroCombo .ComboRating {
  z-index: -1;
  width: 80px;
  height: 16px;
  background-image: comboRatingBackground;
  background-repeat: repeat-x;
  background-position: 0% 0%;
  background-size: contain;
}

.HeroCombo .ComboRatingActive {
  z-index: 50;
  width: 0;
  height: 100%;
  background-image: comboRatingActiveBackground;
  background-repeat: repeat-x;
  background-position: 0% 0%;
  background-size: contain;
}

.ComboRating.rating_1 .ComboRatingActive {
  width: 16px;
}

.ComboRating.rating_2 .ComboRatingActive {
  width: 32px;
}

.ComboRating.rating_3 .ComboRatingActive {
  width: 48px;
}

.ComboRating.rating_4 .ComboRatingActive {
  width: 64px;
}

.ComboRating.rating_5 .ComboRatingActive {
  width: 80px;
}

.RatingsContainer .AttackDamageIcon {
  width: 16px;
  height: 16px;
  background-image: damageRatingIcon;
  background-size: 100%;
}

.RatingsContainer .DifficultyIcon {
  width: 16px;
  height: 16px;
  background-image: difficultyRatingIcon;
  background-size: 100%;
}

.HeroCombo .PlayButton {
  width: 100%;
  height: 0;
  margin-top: 10px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: height;
}

.HeroCombo:hover .PlayButton {
  height: 24px;
}

.HeroCombo .PlayButton .PlayLabel {
  horizontal-align: center;
}
