@import url("file://{resources}/styles/custom_game/variables.css");

.rating {
  width: 80px;
  height: 16px;
  vertical-align: center;
  background-image: hud_ult_cooldown;
  background-repeat: repeat-x;
  background-position: 0% 0%;
  background-size: contain;
}

.rating .rating-active {
  width: 0;
  height: 100%;
  background-image: hud_ult_ready;
  background-repeat: repeat-x;
  background-position: 0% 0%;
  background-size: contain;
}

.rating.rating_1 .rating-active {
  width: 16px;
}

.rating.rating_2 .rating-active {
  width: 32px;
}

.rating.rating_3 .rating-active {
  width: 48px;
}

.rating.rating_4 .rating-active {
  width: 64px;
}

.rating.rating_5 .rating-active {
  width: 80px;
}
