@import url("s2r://panorama/styles/dotastyles.css");
@import url("file://{resources}/styles/shared/variables.css");

.TopBarRoot {
  flow-children: right;
  width: 100%;
  height: 42px;
}

.TopBar {
  flow-children: right;
  align: left top;
  margin-top: 13px;
}

.TopBarButton {
  width: 30px;
  height: 30px;
  margin-left: 16px;
  vertical-align: top;
  tooltip-position: bottom;
  background-size: contain;
  opacity: 0.5;
  wash-color: #cdf;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-property: wash-color,opacity;
}

.TopBarButton:hover {
  opacity: 1;
}

#BtnQuit {
  align: right top;
  margin-top: 13px;
  margin-right: 32px;
  background-image: controlsQuitIcon;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.Netgraph #BtnQuit {
  margin-right: 200px;
}

#BtnQuit:hover {
	wash-color: #f43;
}

#BtnQuit.Activated {
  sound: "ui.menu_quit";
}
