@import url("file://{resources}/styles/custom_game/variables.css");

@define gradient_panel_transparent: gradient(linear, 0% 0%, 0% 100%, from(#292e2e80), to(#191e1edd));
@define gradient_panel_translucent: gradient(linear, 0% 0%, 0% 100%, from(#292e2ef7), to(#191e1eff));
@define gradient_panel_translucent_hover: gradient(linear, 0% 0%, 0% 100%, from(#3f4646f7), to(#191e1eff));

.panel-transparent {
  background-color: gradient_panel_transparent;
}

.panel-translucent {
  background-color: gradient_panel_translucent;
}

.panel-title-container {
  flow-children: right;
  width: 100%;
  height: 32px;
  padding-top: 6px;
  padding-left: 5px;
  border-bottom: 1px solid #222;
  background-color: #0003;
}

.panel-title {
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-overflow: shrink;
  font-family: defaultFont;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 0 3 #0006;
}

.panel-title-container .panel-title {
  width: fill-parent-flow(1);
  padding-top: 0;
  padding-left: 0;
}

.button {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.button-dashboard {
  background-image: control_icon_return_to_game;
}

.button-settings {
  background-image: control_icon_gear;
}

.button-info {
  background-image: status_icon_info;
}

.button-eye {
  background-image: control_icon_eye;
}

.button-hamburger {
  background-image: control_icon_hamburger;
}

.button-bug {
  background-image: topbar_icon_bug;
}

.button-arrow {
  background-image: control_icon_arrow_right;
}

.button-arrow.arrow-ff {
  background-image: control_icon_fastforward;
}

.button-arrow.arrow-solid {
  background-image: control_icon_arrow_solid_right;
}

.button-arrow.arrow-double {
  background-image: control_icon_double_arrow_right;
}

.button-arrow.arrow-dropdown {
  transform: rotateZ(-90deg);
  background-image: control_icon_arrow_dropdown; /* down */
}

.button-arrow.arrow-popout {
  background-image: control_icon_arrow_popout;
}

.button-arrow.arrow-down {
  transform: rotateZ(90deg);
}

.button-arrow.arrow-down.arrow-dropdown {
  transform: rotateZ(0deg);
}

.button-arrow.arrow-left {
  transform: rotateZ(180deg);
}

.button-arrow.arrow-left.arrow-dropdown {
  transform: rotateZ(90deg);
}

.button-arrow.arrow-up {
  transform: rotateZ(-90deg);
}

.button-arrow.arrow-up.arrow-dropdown {
  transform: rotateZ(180deg);
}

.button-quit {
  background-image: control_icon_quit;
}

@keyframes 'button-push' {
  0% {
    pre-transform-scale2d: 1;
  }

  50% {
    pre-transform-scale2d: 0.8;
  }

  100% {
    pre-transform-scale2d: 1;
  }
}

.rating {
  width: 80px;
  height: 16px;
  vertical-align: center;
  background-image: hud_ult_cooldown;
  background-repeat: repeat-x;
  background-position: 0% 0%;
  background-size: contain;
}

.rating .rating-active {
  width: 0;
  height: 100%;
  background-image: hud_ult_ready;
  background-repeat: repeat-x;
  background-position: 0% 0%;
  background-size: contain;
}

.rating.rating_1 .rating-active {
  width: 16px;
}

.rating.rating_2 .rating-active {
  width: 32px;
}

.rating.rating_3 .rating-active {
  width: 48px;
}

.rating.rating_4 .rating-active {
  width: 64px;
}

.rating.rating_5 .rating-active {
  width: 80px;
}
