@import url("file://{resources}/styles/shared/variables.css");

.ComboStep {
  flow-children: right;
  padding: 8px;
}

.StepIcon {
  width: 48px;
  height: 48px;
  background-color: #000d;
  box-shadow: goldColor -2px -2px 4px 4px;
}

.Optional .StepIcon {
  box-shadow: #666 -2px -2px 4px 4px;
}

#StepImage {
  vertical-align: center;
}

#StepDescription {
  font-size: 18px;
  font-weight: semi-bold;
  width: fill-parent-flow(1);
  margin-left: 8px;
  vertical-align: center;
  color: #3c1b18;
}
