@import url("s2r://panorama/styles/dotastyles.css");
@import url("file://{resources}/styles/shared/variables.css");
@import url("file://{resources}/styles/shared/rating.css");

@define fgColor: #3c1b18;

.ViewerPropertiesRoot {
  flow-children: down;
  width: 100%;
  height: 230px;
  padding: 15px;
}

.ViewerPropertiesRoot .ViewerPropertiesRow {
  flow-children: right;
  width: 100%;
  height: 40px;
}

.ViewerPropertiesRoot .ViewerPropertiesLabel {
  vertical-align: center;
  font-size: 18px;
  font-weight: semi-bold;
  color: fgColor;
}

.ViewerPropertiesRoot .ViewerPropertiesIcon {
  width: 28px;
  height: 28px;
  margin: 6px 8px;
  vertical-align: center;
  tooltip-position: left;
  tooltip-body-position: 50% 10%;
}

.ViewerPropertiesRoot .ViewerPropertiesValue {
  align: right center;
}

.ViewerPropertiesRoot .ViewerPropertiesIcon.HeroLevelIcon {
  wash-color: fgColor;
  background-image: controlsEscalationArrowIcon;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.ViewerPropertiesRoot .HeroLevelBadge {
  width: 30px;
  height: 32px;
  border-radius: 50%;
  background-color: #121212;
}

.ViewerPropertiesRoot .HeroLevelBadge .HeroLevelLabel {
  width: 14px;
  margin-top: 3px;
  align: center center;
  text-align: center;
  text-overflow: shrink;
  text-shadow: 0 0 3px 3.7 #ec780e24;
  font-size: 14px;
  font-weight: normal;
  color: #e7d291;
}

.ViewerPropertiesRoot .ViewerPropertiesIcon.SpecialtyIcon {
  wash-color: fgColor;
  background-image: controlsFilterSupportIcon;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.ViewerPropertiesRoot .ViewerPropertiesIcon.StanceIcon {
  wash-color: fgColor;
  background-image: controlsFilterCarryIcon;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.ViewerPropertiesRoot .ViewerPropertiesIcon.AttackDamageIcon {
  wash-color: fgColor;
  background-image: controlsFilterMeleeIcon;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.ViewerPropertiesRoot .ViewerPropertiesIcon.DifficultyIcon {
  wash-color: fgColor;
  background-image: controlsFilterComplexityIcon;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.ViewerPropertiesRoot .Rating .RatingActive {
  wash-color: fgColor&99;
}
