@import url("file://{resources}/styles/custom_game/variables.css");
@import url("file://{resources}/styles/custom_game/ui.css");

@define color_fg: #3c1b18;

.root {
  flow-children: down;
  width: 100%;
  height: 230px;
  padding: 15px;
}

.row {
  flow-children: right;
  width: 100%;
  height: 40px;
}

.property-label {
  vertical-align: center;
  font-size: 18px;
  font-weight: semi-bold;
  color: color_fg;
}

.property-icon {
  width: 28px;
  height: 28px;
  margin: 6px 8px;
  vertical-align: center;
  tooltip-position: left;
  tooltip-body-position: 50% 10%;
}

.property-value {
  align: right center;
}

.property-icon.hero-level-icon {
  wash-color: color_fg;
  background-image: control_icon_escalation_arrow;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.hero-level-badge {
  width: 30px;
  height: 32px;
  border-radius: 50%;
  background-color: #121212;
}

.hero-level-badge .hero-level-label {
  width: 14px;
  margin-top: 3px;
  align: center center;
  text-align: center;
  text-overflow: shrink;
  font-size: 14px;
  font-weight: normal;
  color: #e7d291;
  text-shadow: 0 0 3px 3.7 #ec780e24;
}

.property-icon.specialty-icon {
  wash-color: color_fg;
  background-image: control_icon_filter_support;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.property-icon.stance-icon {
  wash-color: color_fg;
  background-image: control_icon_filter_carry;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.property-icon.damage-icon {
  wash-color: color_fg;
  background-image: control_icon_filter_melee;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.property-icon.difficulty-icon {
  wash-color: color_fg;
  background-image: control_icon_filter_complexity;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.rating .rating-active {
  wash-color: color_fg&99;
}
