@import url("file://{resources}/styles/custom_game/variables.css");

@define fg_color: #3c1b18;

/**
 * Shamelessly ripped from Valve's Invoker kid persona leaf page.
 **/

.root {
  width: 100%;
  height: 100%;
}

.root.Hide {
  visibility: collapse;
}

.CloseButton {
  width: 36px;
  height: 36px;
  margin-top: -4px;
  margin-right: -4px;
  horizontal-align: right;
  wash-color: #fff;
}

.RefreshButton {
  visibility: collapse;
  width: 36px;
  height: 36px;
  margin-top: -4px;
  margin-left: -4px;
  horizontal-align: left;
  wash-color: #fff;
}

.development .RefreshButton {
  visibility: visible;
}

.viewer {
  width: 640px;
  height: 840px;
  margin-top: 160px;
  margin-left: 790px;
  horizontal-align: center;
  opacity: 1;
  transition-duration: 0s;
  transition-property: opacity;
}

.root.Hide .viewer {
  opacity: 0;
  transition-duration: 1s;
}

.viewer-bg {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: bg_viewer;
  background-repeat: no-repeat;
  background-size: contain;
}

.body {
  flow-children: down;
  width: 100%;
  margin-top: 60px;
}

#title {
  width: 555px;
  margin-left: 45px;
  padding: 0 25px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-overflow: shrink;
  font-size: 21px;
  font-weight: black;
  color: fg_color;
  text-shadow: 0 0 5px 1px #000;
}

#scroll-panel {
  overflow: squish scroll;
  flow-children: down;
  width: 80%;
  height: 600px;
  padding-right: 20px;
  padding-bottom: 10px;
  align: center top;
  opacity-mask: mask_soft_edge_vscroll_wide;
}

#properties-section {
  width: 65%;
  horizontal-align: center;
}

#description {
  width: 100%;
  margin-top: 18px;
  text-align: left;
  font-size: 18px;
  font-weight: semi-bold;
  line-height: 21px;
  color: fg_color;
}

.section {
  flow-children: down;
  width: 100%;
  margin-top: 20px;
}

.section .section-label {
  font-size: 18px;
  font-weight: semi-bold;
  color: fg_color;
}

.section .section-header {
  flow-children: right;
  width: 100%;
  margin-bottom: 8px;
}

.section .section-header .section-label {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 2px 1 fg_color;
}

.section-abilities .abilities-build {
  flow-children: right;
  margin-top: 22px;
  margin-bottom: 10px;
  horizontal-align: center;
}

.abilities-build .ability-circle {
  width: 68px;
  height: 68px;
  padding: 4px;
  opacity-mask: mask_soft_edge_circle_sharper;
  background-color: fg_color&dd;
}

.section-abilities .ability-orb {
  margin-left: 8px;
}

.section-abilities .ability-orb-label {
  margin-right: 8px;
  margin-bottom: 4px;
  align: right bottom;
  font-size: 28px;
  font-weight: bold;
  opacity-mask: mask_soft_edge_box_irregular;
  color: fg_color;
  text-shadow: 1px 1px 1px #fffd;
}

#sequence {
  flow-children: down;
  width: 100%;
  margin-top: 26px;
}

.footer {
  margin-bottom: 60px;
  horizontal-align: center;
  vertical-align: bottom;
}

.footer .buttons {
  flow-children: right;
  horizontal-align: center;
}

.footer .buttons .play-button {
  width: 206px;
  height: 49px;
  opacity: 0.9;
  wash-color: #9992;
  box-shadow: #27110250 0 0 12px;
  border-top: 1px solid #faa46a;
  background-color: gradient(linear, 0% 100%, 0% 0%, from(#af5417cc), to(#af5417cc));
  transition-duration: 0.2s;
  transition-property: background-color;
}

.footer .buttons .play-button:hover {
  background-color: gradient(linear, 0% 100%, 0% 0%, from(#af5417), to(#af5417));
}

.footer .buttons .play-button:active {
  wash-color: white;
}

.footer .buttons .play-button .play-label {
  width: 100%;
  vertical-align: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #d5d7d7;
}

.footer .buttons .play-button:hover .play-label {
  color: white;
}

/*****
 * Classes used within HTML content
 *****/

.viewer .sub-title {
  font-size: 18px;
  font-weight: bold;
}

.viewer .intro-text {
  font-size: 21px;
  font-weight: bold;
}
