@import url("file://{resources}/styles/custom_game/variables.css");

.root {
  flow-children: right;
  padding: 8px;
}

#ability-button {
  width: 48px;
  height: 48px;
  box-shadow: goldcolor -2px -2px 4px 4px;
  background-color: #000d;
}

.optional #ability-button {
  box-shadow: #000 -2px -2px 4px 4px;
}

#ability-image {
  vertical-align: center;
}

#description {
  width: fill-parent-flow(1);
  margin-left: 8px;
  vertical-align: center;
  font-size: 18px;
  font-weight: semi-bold;
  color: #3c1b18;
}
