@use "../../popup";

.root {
  @include popup.popup;
  flow-children: down;
  align: center center;
  padding: 0 0 20px;
}

.header {
  flow-children: right;
  width: 100%;
  padding: 16px 16px 12px;
  background-color: #0007;
}

.selection-choice {
  color: #bfd2ee;
  font-size: 22px;
  letter-spacing: 2px;
  text-align: left;
  text-overflow: shrink;
  text-transform: uppercase;
  vertical-align: center;
}

#ability-list {
  flow-children: right-wrap;
  padding: 14px;

  .ability {
    width: 50px;
    height: 50px;
    margin-right: 8px;
    margin-bottom: 4px;
    box-shadow: #6ad4 0 0 1px 1px;

    &:disabled {
      opacity: 0;
      saturation: 0;
    }

    &:enabled:hover {
      brightness: 2;
      contrast: 0.95;
      saturation: 1;
    }

    &.highlighted {
      box-shadow: 0 0 8px aqua;
    }
  }
}
